[2016-04-29 16:49] CaMer0n opened #1 "Screenshots"
## Initial Page
Choosing a Product Category
![vstore_preview_0](https://cloud.githubusercontent.com/assets/2825679/14922938/34cd510e-0def-11e6-8da9-86785cb61bbf.png)

## Select a product
![vstore_preview_1](https://cloud.githubusercontent.com/assets/2825679/14922951/46493e70-0def-11e6-963b-4687270a9d14.png)

## Viewing a Product
![vstore_preview_2](https://cloud.githubusercontent.com/assets/282567

[2016-04-30 19:53] Norwayman opened #2 "Strange category layout"
Firts of all:  great initiative with the online store! :)

I tried making 9 different categories and it gives me a strange layout
when displaying them. It is like the thumbs are not filling out the rows.
Here is a screen shot:

![vstorecategories](https://cloud.githubusercontent.com/assets/1757346/14938245/23b262fc-0ee3-11e6-9a53-e8be5fe542f6.JPG)

What would be the explanation for this?

[2016-04-30 19:57] Norwayman opened #3 "REQUEST: Sub categories?"
PLEASE: Would it be possible to add sub-categories? That would be awesome! :)

[2016-05-04 05:57] Norwayman opened #4 "REQUEST: Wish list"
I think wish list would be a cool adition to the online store.
Something similar to that of Amazon.
Required to be logged in of course.
Maybe with option of mailing the wish list link to someone?

[2016-05-04 21:53] CaMer0n commented on #2
Thanks @Norwayman This is a bootstrap css issue. I'll fix it in the core.

[2016-05-04 23:51] Norwayman commented on #2
Thanks this fixed it.
it now shows 9 categories nicely 3 by 3 on the page,
but....I have 13 categories. How to display them all?

[2016-05-05 00:10] Norwayman opened #5 "REQUEST: Digital downloads"
Would be great to have digital downloads option for the products
where one cannot see the file until one has paid for that digital download.

[2016-05-05 17:00] CaMer0n commented on #5
Yes, this one is planned.

[2016-05-05 17:01] CaMer0n commented on #2
@Norwayman It's not displaying more than 9 categories?

[2016-05-05 17:31] Norwayman commented on #2
NO, it is just displaying 9 categories out of the 13 I have made.

[2016-05-05 20:54] CaMer0n commented on #2
@Norwayman And all of them are set to visible by everyone?

[2016-05-05 22:19] Norwayman commented on #2
@CaMer0n Yes....all are set to visible to everyone.
I noticed however that if I do not set a SEF url then one cannot click on a category
and get further info. Once I manually set the SEF url I could get info on the products under a category.
Don't know if that has anything to do with the issue of not being able to se all 13 categories.

[2016-05-05 22:46] Norwayman opened #6 "REQUEST: Option of selecting size?"
Could there be an option for selecting clothing size?

![vstoreoptionforsize](https://cloud.githubusercontent.com/assets/1757346/15059594/34f7c46c-12e9-11e6-81ed-70e49ba22891.JPG)

[2016-05-06 18:47] Moc commented on #6
Maybe something more generic like  'attributes' could work

For example 'sizes' for clothing and shoes but also 'color' or 'model type' etc.

[2016-05-06 18:51] Norwayman commented on #6
Yes, sounds like a good idea :)

[2016-05-08 16:42] #2 closed

[2016-05-08 16:42] CaMer0n commented on #2
@Norwayman Please try now.

[2016-05-08 17:28] Norwayman commented on #2
Yes! Now I can display all my categories like this:

![vstorecategories03](https://cloud.githubusercontent.com/assets/1757346/15099328/f4a59e4e-1517-11e6-9982-bfcb49576056.JPG)

But....can't I display all categories on ONE page only?
Could there be adjustments in settings that let the admin
decide how many will be displayed per page?

See I have a lot of space to fill out here:

![vstorecategories

[2016-05-17 17:29] Norwayman opened #7 "Error message"
I cannot get into my site today using WampServer.
After the latest GIT it gives an error message turing on the debug,

![error1](https://cloud.githubusercontent.com/assets/1757346/15332367/ee38dbce-1c2a-11e6-9a12-49c4f0271791.JPG)

[2016-05-17 18:18] Norwayman commented on #7
After Cameron comittet the files I could open my page again.

[2016-05-17 18:18] #7 closed

[2016-05-18 23:22] Norwayman opened #8 "Category pages error"
@CaMer0n As you can see of my screen shot I have 3 pages of categories totaling 19 categories.
My problem is that when I go to page 2 of categories and click on IMANES (which contains two products to buy and is in stock) it does not go to see those two products, but goes back to page 1 of categories. How can I deal with this?

![secondpageofcategories](https://cloud.githubusercontent.com/assets/17

[2016-05-18 23:28] CaMer0n commented on #8
Sounds like an issue with the SEF URL, I'll look into it.

[2016-05-19 01:19] #8 closed

[2016-05-19 06:53] CaMer0n commented on #3
@Norwayman Please give it a try. Breadcrumb still needs work.

[2016-05-19 14:35] Norwayman commented on #3
@CaMer0n Yes, this worked very well. Now, is there a change one could rearrange the order of the categories, like in site links for example?

[2016-05-23 19:20] Norwayman opened #10 "Issue with categorypages"
I have now put my 19 categories into just 7 main categories with the others inside of these categories.
What I am seeing is that there are still 3 pages of categories even though I have only 7 main categories with sub categories. And page 2 and 3 are empty.

And....is it possible to inlude the script that Jimmi08 talked about here: e107inc/e107#1630 to avoid the differences when the images are not

[2016-05-23 19:36] Jimmi08 commented on #10
That script shouldn't be in plugin but in theme itself. Each theme can use different solution for this. There is Masonry too.

[2016-05-23 21:34] Norwayman commented on #10
@CaMer0n Yes this extra height makes it look a lot nicer when there are two lines in the category name.  And also the category pages are correct now. Thanks man!
![categoriespagesandnames](https://cloud.githubusercontent.com/assets/1757346/15485314/288eafc8-2104-11e6-9d8b-89deb85ae136.JPG)

[2016-05-23 21:34] #10 closed

[2016-06-02 04:54] drogit opened #11 "QUESTION"
PLEASE FORGIVE NEWBIE .... IS THIS PACKAGE AVAILABLE AS AN E107 PLUGIN?  CANT FIND IT IN LIST OF PLUGIN BUT THEN AGAIN I HAVE NO IDEA WTF I AM DOING !  JUST WONDERING

[2016-06-06 19:49] Norwayman opened #12 "Feature request: Rearranging the order of categories"
Is there a chance one could rearrange the order of the categories, like in site links for example?

[2016-06-06 19:51] Norwayman commented on #11
@drogit  No it is not officially a plugin ready for download since it is a work in progress.
But you are welcome to download and install it and test it and come with your comments and suggestions here.

[2016-06-13 11:14] Jimmi08 opened #14 "Feature request: catalogue mode"
I am aware it's too soon but if you think at this from the beginning, it could be easier in later.

Catalogue mode means that no Add to cart button is displayed, not checkout, no cart. Admin area is the same, only frontend is different.

It should be work similar way as user/registration system, you set signup off and no button is displayed.

Just idea.

[2016-06-13 11:20] Jimmi08 opened #15 "unique sef url for categories + part FIX"
With editing added test if SEF URL already exists.

- I don't know how to do this for inline editing

[2016-06-13 11:39] Jimmi08 commented on #15
Suggestion in my fork:
https://github.com/Jimmi08/vstore/commit/fc921b5fba5811e27f522d2167226bd62e49d384
I will pull request if it's correct.

[2016-06-18 17:12] kreossino opened #16 "error on step5 gateway paypal"
i have this error on vstore installed. i have inserted my api-paypal credential on admin_area,
but the plugin not work correctly.

![vstore_error](https://cloud.githubusercontent.com/assets/11265955/16172393/30bf4eb2-3588-11e6-8959-f3b37650a555.jpg)

[2016-06-24 19:54] CaMer0n commented on #16
Thank you @kreossino Indeed, this plugin is a work-in-progress at this time.

[2016-06-28 21:16] CaMer0n commented on #14
@Jimmi08 Would this be for the entire store, or just specific categories?

[2016-06-28 21:27] Jimmi08 commented on #14
@CaMer0n Cataloque mode is usually for all store. It's more about 2 in 1 solution (store and cataloque).
But you are right, I saw this be set for products too (not sure if it was for category or for product)

More explanation: we have very strict laws for eshops in my country. Sometimes is easier to have just catalogue and a form to send order. If website has cart (or Add to cart button) , it is e

[2016-06-28 21:40] kreossino commented on #16
I need to sort out and I'm not able with php ... for you to finish "first"  the part of the payment procedure is a problem?

[2016-06-29 15:12] Norwayman opened #17 "Feature request - remove pagination on category page"
To not lose overview of people who has many categories I would have liked the option to choose to not have the categories show up over multiple pages, but that they show up all on ONE page.

[2016-06-29 15:13] Norwayman opened #18 "Not able to make a new root-category."
When I write TEST in the title and ROOT as parent, the title is not saved.
 And also there is no SEF generated.

[2016-06-30 03:35] kreossino commented on #16
ok.. i have tested Paypal "sandbox"
in the step 6 erro in paypal the products it's not present
after payed the product with paypal (creditcard or account) return correctly on website, but
in website the session not change "7"
and in admin_plugin_vstore is not present the customer buyer order.
![sandbox](https://cloud.githubusercontent.com/assets/11265955/16476120/6f150788-3e84-11e6-9937-c15aa5e6ad

[2016-06-30 04:52] CaMer0n commented on #16
@kreossino Yes, I'm aware of this issue. I'm having trouble with the omnipay class as I haven't found enough good documentation about the paypal integration.

[2016-06-30 05:08] CaMer0n commented on #15
Like the news, it should save the sef-url (even if it's a duplicate) and THEN throw a warning about it if needed.

[2016-07-01 23:35] #12 closed

[2016-07-01 23:36] CaMer0n commented on #12
@Norwayman I added a preference for categories per page for you.

[2016-07-02 03:58] Norwayman commented on #12
@CaMer0n This works for me. Thanks a lot man! :)

[2016-07-03 16:07] CaMer0n commented on #17
Corrected with preference.

[2016-07-03 16:07] #17 closed

[2016-07-05 01:54] Norwayman commented on #18
@CaMer0n
Update as of July 4:  When I now create a new category it generates the SEF,
but it still not saves the title-field.

[2016-07-07 16:14] #18 closed

[2016-07-07 16:15] CaMer0n commented on #18
@Norwayman Please update the e107 core and then this plugin.

[2016-07-07 16:17] CaMer0n commented on #16
Was recently fixed.

[2016-07-07 16:17] #16 closed

[2016-07-08 04:25] Norwayman commented on #18
@CaMer0n Yes, now it works perfect! Thanks a lot!

[2016-08-25 08:37] kreossino opened #19 "payment method"
could you insert an alternative method of payment
a simple IBAN bank transfer payment ?
merchandising in pending

[2016-08-25 08:45] kreossino commented on #14
up this is very useful

[2016-08-25 22:05] Moc commented on #14
@kreossino Bumping an issue will not really make a difference. The best you can do is show your support by adding a emoji (thumbs up - :+1: ) to the original issue report. You can do this by clicking on the top right of the post. Thanks :)

[2016-08-30 18:28] CaMer0n commented on #14
@Jimmi08 If you wish to send a pull-request with the new preference and the code in the shortcodes to disable them.. I'll be happy to merge it.

[2016-08-30 20:45] Jimmi08 commented on #14
Are you sure? Because I am not if I am able to do it.  But I can try or better I would like to try :)

[2016-08-30 20:49] kreossino commented on #14
I also asked my developer friend if can help us

Il 30/08/16 22:45, Jimako ha scritto:

[2016-08-30 20:52] Moc commented on #14
I should be able to find some time to add this in. No promises :)

[2016-10-21 21:52] CaMer0n commented on #14
@Jimmi08 Have you considered added 'display:none' to the button elements to do what you requested?

[2016-10-21 21:58] CaMer0n opened #21 "[Help Request] Zoom issue on image 2, 4, 6 on iPhone"
I have added the image zoom feature which works well on the iphone for the first, third and 5th image on the product page. But the 2nd, 4th and 6th image has an issue and does not magnify/switch correctly.
Any suggestions/fixes would be appreciated. @lonalore @Jimmi08

In the following example, the images with this problem are '1' , '3', '5'

![screenshot-localhost-2016-10-21-15-09-45](https://clo

[2016-10-22 06:11] lonalore commented on #21
Okay, I'll check it today.

FYI: I installed it on my website, and I cannot add product to a category, because it does not save category to the product.

[2016-10-22 07:37] lonalore commented on #21
I had the same issue on my Android phone. This commit should fix both! Could I create a pull request?

[2016-10-23 20:20] Jimmi08 commented on #14
@CaMer0n Yes, but it's not solution, links would still work and somebody could display it.  I am waiting for boys to do something with this. This is not urgent for me, don't waste your time for it. Thanks

[2016-10-24 20:52] martyshep commented on #6
Product properties array such as size so needed thanks :)

[2016-11-11 11:29] Jimmi08 commented on #14
@CaMer0n
Could you look at this?
https://github.com/Jimmi08/vstore/commit/83b62684e9115cdf6244349a9ecd77e441ffccea
Catalog mode - Add to cart is removed (no button),  eshop links (pages) are removed (not available)
Equiry mode - Replaced Add to cart to Enquiry form (so button is stilll there, but with different text and action - popup window).

On second thoughts this is maybe better to do with se

[2016-11-11 11:59] Jimmi08 opened #25 "error in item_inventory method"
There is mistypo in item_inventory function (I can't send request because I am working on other things)
[code]

![image](https://cloud.githubusercontent.com/assets/5429548/20214452/9ac78ae2-a80e-11e6-97dd-91d33e262a68.png)

[2016-11-12 02:00] CaMer0n commented on #14
@Jimmi08 It looks good! I believe for "Inquiry Mode" it could be done with a custom template, replacing the "add to cart" with a URL or just plain HTML. In this case, I believe you would just need "Purchase Mode" and "Catalog Mode" as the 2 radio options, and being just one pref, it may not require its own tab.

[2016-11-12 07:33] Jimmi08 commented on #14
I agree. I just didn't know where to start. This plugin has label simple so your way is better. But I am now able to extended it with other plugin. I just created shortcodes class not extended from e_shortcode but from vstore shortcodes class and it looks that everything works. I normally avoid things I don't understand (what  I am not able to read from code) but this is amazing. And with e_admin

[2016-11-25 10:17] martyshep opened #27 "When changing vstore preferences for Admin Area general preferences reset to default"
Also when viewing vstore/preferences, it does not pull what the current settings are, so when a save made to How to Order or Admin Area tab, General Preferences resets to default.

[2016-11-29 21:01] CaMer0n commented on #21
@lonalore The issue still remains (using desktop / Firefox) that the 'zoom' shows the previous image, not the one that was just clicked.

[2016-11-29 21:04] CaMer0n commented on #21
👍

[2016-11-29 21:04] #21 closed

[2016-11-29 21:08] CaMer0n commented on #27
@martyshep I'm unable to reproduce this one.  There was an issue with multilan fields which has since been fixed in e107. Maybe you can update e107 from github and try again?

[2016-11-29 21:15] martyshep commented on #27
Perfect thanks Cameron. I synch'd my e_107 site with git repository and
issue is now cleared.

On Tue, 29 Nov 2016, 21:08 Cameron, <notifications@github.com> wrote:

[2016-11-29 21:17] CaMer0n commented on #27
cheers!

[2016-11-29 21:17] #27 closed

[2016-11-29 21:18] #25 closed

[2016-11-29 21:18] CaMer0n commented on #25
Thank you!! 👍

[2016-12-01 23:43] CaMer0n commented on #19
@kreossino If you can find such a plugin within the omnipay package, I can try to add it.

[2016-12-06 12:18] Moc commented on #19
I'm interested in this as well (also because of an integration of this payment method in another plugin) and am planning to look into developing this as of early January (once I get some more free time).

[2016-12-06 15:58] CaMer0n commented on #19
Looks like it's available: https://github.com/markdegrootnl/omnipay-ideal
I would have no way of testing it though, but it should be relatively easy to add to the vstore.

[2016-12-06 15:59] Moc commented on #19
Yeah iDeal would be easy, but this is only for Dutch banks. Still would like to see it added 👍
I think there's no easy way or a European solution now.

[2016-12-06 16:08] CaMer0n commented on #19
Is this useful to you? https://github.com/andypieters/omnipay-paynl

[2016-12-06 16:16] Moc commented on #19
This would be a third-party provider (like an intermediary), which to me personally is not useful no. Instead the iDeal package you linked above (https://github.com/markdegrootnl/omnipay-ideal) would be better as it is only dependant on the banks, and no intermediaries.

[2017-01-01 11:59] Moc commented on #19
Okay, I think using "Mollie" could be best solution here:
- https://www.mollie.com/en/banktransfer

Package available here: https://github.com/thephpleague/omnipay-mollie

[2017-04-02 16:01] CaMer0n commented on #3
@Norwayman I believe the drag-n-drop sorting is working too now. Same for you?

[2017-04-03 15:41] Norwayman commented on #3
@CaMer0n Yes, I think it does. Last time I checked anyway. I will let you know if they do not work :)

[2017-07-27 10:06] drasehat opened #29 "Refresh made cart page error"
when user refreshing cart, the item and calculation automatically add extra 1 item.
my suggestion is, when user click "add to cart" button, the page not go to cart page.
maybe to a top new browser window (just confirmation, that user add the item to the cart)

[2017-07-27 10:13] drasehat opened #30 "Can we add a digital item to sell ?"
my idea is more digital product management, we can add permission to members who already buy the product, so member can download their themes from member area.

thank you

[2017-07-27 10:23] Jimmi08 commented on #30
Related:  https://github.com/e107inc/vstore/issues/5

[2017-07-27 10:27] drasehat commented on #30
now i'm crying T_T

[2017-08-01 19:19] CaMer0n commented on #30
The option to store a file is already there in the admin area ('item_download'), we just need to add the frontend part to handle the downloading and checking for payment first. I believe it should be fairly simple.. especially considering we already have the the e107::getFile()->send(path) method in the core.

[2017-08-14 00:01] arunshekher commented on #30
@Cam, To be honest I'm struggling to find time for my own projects. Some revamps and some fresh ones which I'm doing one after the other for e107 v2.

My goal is to use them on a community website which runs on e107 and is due for upgrade to v2. When I do the upgrade I'm hoping not to take away any existing features from that website but add some more if possible.

So its hard for me to say any as

[2017-08-14 16:36] CaMer0n commented on #30
Thank you @arunshekher !

[2017-08-17 08:45] martyshep opened #36 "PayPal Express API now only sets transaction as 'Pending' on PayPal"
Previously vstore would complete transaction via PayPal Express (aka API that has API Username, API Password and API Signature)

Now with latest vstore, when I use PayPal Express API the transaction does not go to completed status on PayPal, it does show on vstore sales as Completed, but on PayPal it shows as Pending and has to be 'Accepted' using PayPal dashboard to move to 'Completed'

[2017-09-19 23:46] CaMer0n commented on #36
@martyshep I'm not experienced enough with OmniPay to know where to start with fixing this issue.
However, I am willing to pay an expert out of my own pocket to look into it.
What do you think @lukeholder @davidkoberan @delatbabel ?
Would you consider looking at the code? (for a reasonable price)
Thanks.

[2017-09-19 23:48] CaMer0n commented on #29
Should probably be done with ajax.

[2017-09-20 05:41] lukeholder commented on #36
Is this the case in the paypal sandbox?

Sounds like this could possibly be a setting (not to auto-capture) within the paypal dashboard maybe?

[2017-09-20 23:32] CaMer0n commented on #36
Thank you @lukeholder ! @martyshep do you see an auto-capture option on Paypal?

[2017-09-21 06:52] martyshep commented on #36
I am not sure if there is an auto capture setting on PayPal dashboard as another member of our club is the treasurer, I will ask him. When I revert to previous vstore commit PayPal goes back to working ok, so this suggests it's not PayPal?

[2017-09-21 06:55] lukeholder commented on #36
@martyshep what is a vstore?

[2017-09-21 07:49] martyshep commented on #36
vstore is the name of this plugin. I mean when I revert to a previous version of this plugin the same PayPal account integration works just fine. When I run this version, transactions do not complete properly, they need to be 'accepted' on the PayPal site to complete the transaction.

[2017-09-21 10:18] lukeholder commented on #36
Oh sorry thought I was being asked about the omnipay-paypal package. I don’t support vstore sorry - you would need to ask them. If it’s a omnipay-PayPal issue please report on that repo.

[2017-09-21 12:02] martyshep commented on #36
@lukeholder Ah I see :) The vstore plugin for e107 CMS uses omnipay-paypal package. I will let the developers confirm more about that.

[2017-09-25 16:03] lonalore commented on #36
@CaMer0n I have no idea. Paypal Express API works properly with my sandbox account.

Status is "complete":
![kepernyokep_2017-09-25_17-54-31](https://user-images.githubusercontent.com/6043821/30817978-9aa8112e-a21a-11e7-9090-2b1cf9e534bb.png)

Unfortunately I don't have live account.

[2017-09-25 16:20] CaMer0n commented on #36
Thank you @lonalore !! 👍

[2017-09-25 23:49] martyshep commented on #36
vstore plugin shows complete but the live PayPal shows processing and the payment has to be accepted, that's part of the problem. From vstore it looks like it worked successfully.

[2017-09-25 23:56] lukeholder commented on #36
looks like you are hitting this issue: https://github.com/thephpleague/omnipay-paypal/issues/60

[2017-09-26 00:13] martyshep commented on #36
Ah yes exactly that issue thanks @lukeholder We could adjust our workflow to compensate for this so the treasurer of our club then accepts the payment but the thing is there is no notification email from PayPal to say a transaction is in a pending status. Normally when a transaction is complete, PayPal send an email to the address associated with the account to say a payment has been successfully

[2017-10-19 23:42] CaMer0n opened #37 "Bank Transfer as a Payment Option"
As Above.

@pimrobi

[2017-10-20 09:22] pimrobi commented on #37
hi.and how to use?need to download again the vstore?

[2017-10-20 11:04] pimrobi commented on #37
thanku very much.perfect for me.i already added some more currency.anyway where would be need to see the "how to order"i wrote some details but did not show.How can i solve that?

[2017-10-20 18:32] CaMer0n commented on #37
Normally it should display when the template includes `{PREF_HOWTOORDER}`. Currently it's in a tab on each item's page.

Btw. If you have modified any file (eg. to add currencies), please let me know the changes, so that I can include them in the main files. (and they won't be overwritten by future versions)

[2017-10-21 03:24] pimrobi commented on #37
included,but not show for me
i try to make another to show like a category
i dunno where is the problem
this my version

On Sat, Oct 21, 2017 at 1:32 AM, Cameron <notifications@github.com> wrote:

[2017-12-18 23:44] CaMer0n opened #38 "Coinbase (Bitcoin) payment gateway requires testing."
Need someone to test this payment gateway with coinbase.

![image](https://user-images.githubusercontent.com/2825679/34133556-4b8f6362-e40a-11e7-8d13-507540ee2796.png)

[2017-12-19 03:07] CaMer0n commented on #6
@Norwayman @martyshep @Moc Admin area for this is mostly complete. Frontend stuff still needs to be added.

[2017-12-19 07:36] martyshep opened #39 "Add userclass to user when an item purchased"
Perform an add to or remove from a userclass when a specific product purchased successfully.

On my site, any user can join as a member but until they purchase a membership they cannot access the forum part of my site which is granted by adding an extra userclass to the user. Would be great if this could happen automatically. The option to select tasks to be performed when user buys product would

[2017-12-19 18:30] CaMer0n commented on #39
Thank you @martyshep . It's funny you post this, because I have been thinking about it also.
Also, do you have the means to test payment through Coinbase?

[2017-12-20 12:22] martyshep commented on #39
@CaMer0n I do not have means to test through Coinbase sorry.

[2017-12-25 09:48] Jimmi08 opened #40 "category on item page - not saved"
Edit worked (select category) , but 0 was always saved .  PHP 5.6

Changing this
`			$this->fields['item_cat']['writeParms'] = ($this->getAction() == 'list') ? $this->categories : $this->categoriesTree;`

to
`			$this->fields['item_cat']['writeParms']['optArray'] = ($this->getAction() == 'list') ? $this->categories : $this->categoriesTree;`

fixed it.

Now inline editing works too (maybe because z

[2017-12-25 10:12] Jimmi08 commented on #40
Wrong repository version

[2017-12-25 10:12] #40 closed

[2018-01-01 19:48] Jimmi08 opened #41 "sitelinks function is not inserted during installation"
`vstore::storeCart`  function is not inserted into sitelinks from theme.xml

`<link url="#"  description="Shopping Cart" perm="everyone" function="vstore::storeCart" >LAN_PLUGIN_VSTORE_CARTICON</link>`
sitelink is created, only function is empty

[2018-02-25 19:01] SimSync commented on #37
Should be fixed now. How to order is displayed on the product details page  #now if defined in prefs.
see #43

[2018-02-25 19:03] SimSync commented on #39
Will be implemented with PR #44

[2018-02-25 22:19] CaMer0n commented on #30
@SimSync FYI.

[2018-02-26 03:27] LaocheXe opened #45 "Question: Wiki - FAQ"
I'm looking at this, ant can't see if this vstore has a monthly subscription in it, or what all it has. Can we get a FAQ section in the github wiki section??

[2018-02-26 06:40] SimSync commented on #45
As far as I know it, there is no monthly subscription implemented.
And automatically removing a purchased userclass is not so easy in my opinion, as this userclass might be manually assigned to the customer without using vstore.
Currently there is also no way to define the "runtime" of a userclass, so you can't check if the runtime is expired and remove the userclass through a cron job.

[2018-02-26 20:32] SimSync commented on #45
I know what you would like to have and i have a similar demand for that feature.
@CaMer0n It would be great to flag this issue as enhancement.
At some point, this is maybe something i'm going to tackle.

[2018-02-28 03:58] #41 closed

[2018-03-07 08:58] SimSync commented on #29
Should be fixed with PR #47

[2018-03-13 21:38] SimSync opened #53 "New feature: Coupon codes"
- [x] Coupon codes reduce item price by a fixed or a percentage amount (e.g. -5€ or -15%)
- [x] Coupon codes may be used on individual items or categories, or items/categries may be excluded
- [x] Coupon codes may be valid for a limited time only
- [x] Coupon codes may be used only in limited numbers in general and/or by customer or per item quantity

[2018-03-13 23:02] kreossino opened #54 "add paypal's royalties for service costs"
hi, if is possible  could you add a field for extra costs of paypal?

[2018-03-14 06:58] kreossino opened #55 "Shipping fees - bug"
if you buy more products, shipping costs increase too much
<img width="1680" alt="schermata 2018-03-14 alle 07 51 10" src="https://user-images.githubusercontent.com/11265955/37387624-0f97e8be-2755-11e8-88b3-be1b08a01162.png">

[2018-03-14 10:52] SimSync commented on #55
At the moment, the (individual) shipping cost of each selected item will be summed up as you are expieriencing it.
That is not a bug in general. It just works as designed, which is different from what you would like to have.
But you are right, we should at least implement more ways how shipping costs could be calculated.
e.g.
- Do not calc any shipping cost (already possible, even for individual i

[2018-03-14 11:01] SimSync commented on #54
This topic can get quite complex, even if you limit it to Paypal.
The fixed amount depends on the currency, the percentage depends on your organization form and also the way your customers pay and so on.
Wouldn't it make sense to calculate that cost into your product price and not to charge your customer for the selected payment method?

[2018-03-14 14:43] kreossino opened #56 "bug email"
if i complete a order i receive only this message. "array"

<img width="866" alt="schermata 2018-03-14 alle 08 22 33" src="https://user-images.githubusercontent.com/11265955/37409241-beda1ae6-2795-11e8-8daa-22f01bec5ec3.png">

[2018-03-14 14:47] kreossino commented on #55
it's very nice if add a costs calculated for weight for 1kg to 3kg = €10,00
from 3.01kg to 10 kg =€ 20,00
from 10kg to 100 = €40,00

[2018-03-14 14:53] kreossino commented on #54
if the customer pay the product with bank trasnfer this have a fixed cost, but with paypal this is in percentage

[2018-03-14 20:51] SimSync commented on #56
Fixed the issue in my fork. Will be included in my next pull request.

[2018-03-18 12:24] SimSync commented on #53
Feature implemented, but as all features of this plugin needs testing!

[2018-03-19 18:28] CaMer0n commented on #53
:+1:

[2018-03-19 18:54] CaMer0n opened #58 "Which payment gateways should vstore support?"
I believe Amazon and Coinbase are good additions.
Amazon will require making omnipay classes for it.
(https://github.com/lemonstand/omnipay-amazon <-- incomplete)
Coinbase is in the repo, but is untested.
Are there others that people here would like to see added, or at least supported ? (ApplePay?)

[2018-03-19 20:24] SimSync commented on #36
Implemented a fix in my fork. I'm pretty sure that this also works for others.
Will be included in my next PR.

[2018-03-19 20:57] SimSync commented on #58
Maybe https://github.com/thephpleague/omnipay-mollie for SEPA Direct Debit / SEPA bank transfer.
Mollie also includes other payment methods: https://www.mollie.com/de/pricing/

[2018-03-19 20:59] SimSync commented on #56
@kreossino The fix is now implemented. Could you please check and verify?

[2018-03-19 21:00] SimSync commented on #55
@kreossino Shipping fees are now implemented. Could you please do some testing?

[2018-03-20 06:23] kreossino commented on #55
;) now is perfect!!! clap clap

[2018-03-20 06:28] kreossino commented on #56
perfect !

[2018-03-20 06:34] kreossino opened #60 "new feature: field on order"
Hi,
could you add three fields on order form?
that's for:
1)  fiscal code; (codice fiscale)
2) VAT - (Partita Iva)
3) factory (nome azienda)
and the captcha code to confirm

[2018-03-20 06:54] SimSync opened #61 "new feature: Invoice (Email & PDF)"
I think, we need a "real" invoice for the purchases. As a simple email, but also as pdf.
Layout should be editable via the preferences.
The invoice should be send automatically when reaching a certain order status (e.g. completed) or manually (button on the order table or so).

[2018-03-20 06:58] SimSync commented on #60
You mean on the order confirmation page or which page exactly?
Isn't this something that should be located in the imprint or on the invoice?
Do you have an example of it (screenshot or similar)?

[2018-03-20 07:13] SimSync opened #62 "Save customer information (shipping-/invoice address, prefered payment method, etc.)"
To make it more convinient for the customer, we should save this information in a table (there are already some preparations done) and load it from there the next time the customer buys something. So he doesn't have to enter it again (incl. possible typos).

[2018-03-20 07:13] SimSync opened #63 "new feature: Invoice address"
As the one who pays for a purchase and the one who receives it are not necessarily the same, we need an option to enter both.
Maybe first ask for the invoice address, than in the next step ask for the shipping address.
The customer can now decide if invoice- and shipping address are the same and in that case the step will be skipped and the customer will be directed directly to the summary/order c

[2018-03-20 08:19] kreossino commented on #60
you could add a field
"VAT" and the  personal fiscal code with verify  (html5)
`<input type="text" id="iscritti_codicefiscale" pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$" >` (not required)

and in the next step for confirm order a "recaptcha code"

![form](https://user-images.githubusercontent.com/11265955/37642992-0e7eb37e-2c17-11e8-97c2-bcc13d4cba24.png)

[2018-03-20 08:25] kreossino commented on #61
is only a idea 👍
https://stackoverflow.com/questions/22727622/how-to-send-form-data-in-pdf-and-mail-after-submit

[2018-03-20 08:35] Jimmi08 commented on #60
@SimSync for your explanation (If I understand above correctly):

- **fiscal code** -  it's identification number for any taxable company (something like registration number) . The label should be easy changed - (we use ICO for this)  (I saw this solved with next line in adress without label after company name), label was just a placeholder.  Without this code invoices are not acceptable by our ta

[2018-03-20 08:36] SimSync commented on #60
Ah OK. You're talking about the data from the customer, not your merchant data.
Well, as written here #63 , i think we need an invoice address and your fields should be included there as it is information about the one who pays the bill and not who receives the items.
So once, invoice address gets implemented i'll keep an eye on this.

[2018-03-20 08:38] Jimmi08 commented on #60
@SimSync let this confirm by @kreossino  It was just my quess.

[2018-03-20 08:49] SimSync commented on #60
At least on my todo list, this isn't a top priority. So he has time to confirm ... 😄
I think, first storing the recurring customer data for later reference is something that needs to be done before requesting any additional data from the customer.

And by the way: @kreossino You can have the fields already today, by defining the additional checkout fields in the preferences.  😆

[2018-03-20 09:14] kreossino commented on #60
@Jimmi08 @SimSync

the VAT is writted from customer in this form only he buy this merchandise for the company.

the fiscal code is for the identification of customer in Italy this code is a personal data unique code.
the customer must indicate this for receive the marchandise.

i must use the "additional checkout fields" ... 👍

[2018-03-20 09:28] Jimmi08 commented on #60
@SimSync See? It depends on country law.  So Additional checkout fieds is correct way.

@kreossino Just from curiosity and maybe wrong translation.  Really "personal"  like not freelancer,  not company but normal person? I am looking for how you do this with GDPR.  We have this "code" too, but it's the most warded information and if you are asking it from people, you can get to serious troubles.

[2018-03-20 09:35] kreossino commented on #60
@Jimmi08 yes in Italy the fiscal code is necessary for all person and freelances and with a VAT "Partita Iva" for company ( we use this fiscal code for buy medicine, Hospital, documents, shipping merchandise and all other!)

[2018-03-20 09:41] kreossino commented on #60
![form1](https://user-images.githubusercontent.com/11265955/37646899-ce7ccee4-2c22-11e8-8747-d8c931465aac.png)

[2018-03-20 10:16] SimSync commented on #60
I already expect when i wrote about the additional fields that this would come ... 😆
(in future) Maybe this can be solved by modifying the template. At the moment, additional fields are fixed to be rendered after the main fields. I'll open an issue for it to not forget about it.

But I still think, that this should be included (as optional field) into the invoice address. And to position it by mod

[2018-03-20 10:19] SimSync opened #64 "Allow positioning of addition checkout fields thru template"
Currently, the additional checkout fields are located at the bottom of the other shipping fields.
Allow positioning of the additional fields thru modification of the template.

[2018-03-20 14:42] SimSync opened #65 "Customer table"
@CaMer0n Do you already have the create code for the customer table somewhere?
If you, please push it once as it is currently missing.

From the customer class, i saw the column names and there are a few where i'm not sure if they are not double or should get a different name:

| field | question |
| ---- | --------- |
| cust_userid | Is this the e107 userid? If yes, should we make it like in the

[2018-03-20 16:33] CaMer0n commented on #65
hi @SimSync  ! That code was copied from another plugin I made some time ago and was never developed further into the vstore. I ended up deciding against adding the table, because an admin could add all these fields as user-extended-fields and I wanted to keep things as simple as possible in the early stages of development.

 I haven't looked closely at how other systems store this kind of data (e

[2018-03-20 16:34] #36 closed

[2018-03-20 16:55] CaMer0n commented on #58
:+1:

[2018-03-20 20:49] SimSync commented on #60
There is a webservice of the EU to verify the VAT number: http://ec.europa.eu/taxation_customs/vies/vatRequest.html
I found this package on gitgub: https://github.com/DragonBe/vies
There are also others. Don't know which is best. But at least there is already something to validate the VAT number.

[2018-03-21 06:32] kreossino opened #66 "ImageZoom little bug"
when displaying the product image "Zoom mouseover" the image does not return to the original format and can not be displayed correctly again.

![image_complete](https://user-images.githubusercontent.com/11265955/37696916-a45a87aa-2cd1-11e8-98ee-242e27d3bd60.jpg)
![image_notcomplete](https://user-images.githubusercontent.com/11265955/37696917-a4783bc4-2cd1-11e8-8351-4e25928aa92b.jpg)
![image_onover

[2018-03-24 16:45] kreossino commented on #56
@SimSync
when the customer buys my products, he receives a confirmation e-mail.
can I receive it too?

[2018-03-25 23:05] kreossino opened #67 "Feature Email Urgent"
when the customer buys my products, he receives a confirmation e-mail.
can I receive it too?

[2018-03-26 05:24] #56 closed

[2018-03-26 09:11] SimSync commented on #67
Yes, I'm currently busy with the customer table thingy (which requires more changes than expected), but i'll keep this in mind.
I'll implement a preference to send a copy to the shop email address for each defined email.

[2018-03-26 10:20] #53 closed

[2018-03-26 18:32] #65 closed

[2018-03-26 18:54] #62 closed, assigned to nobody

[2018-03-26 19:06] #64 closed

[2018-03-30 17:25] CaMer0n commented on #63
Good idea! Yeah, Billing Address and Shipping address. (with a checkbox to use Shipping address as the Billing address) or simply a hidden form with "use a different address for billing" link.

[2018-04-01 10:51] SimSync opened #69 "New feature: Tax"
Currently there is no possibility to define the tax for each item and therefore any invoices are incomplete.
In the EU the tax laws are even more complicated as tax has been payed even when the buyer is from a different country (inside the EU) as the shop is located. To make it even more complicated, the shop has to apply the tax from the customers country ...
For business purchases from ouside th

[2018-04-02 00:18] kreossino commented on #69
in Italy exists other Tax percentage (IVA) 22% - 10% - 4%

[2018-04-02 10:19] SimSync commented on #69
This is something you will be able to configure.
![grafik](https://user-images.githubusercontent.com/7572616/38193005-085a29c0-3670-11e8-8740-935851c8386e.png)

[2018-04-02 15:37] oui3kings opened #70 "password security"
I was hoping password masking could be added to the vstore admin area, where the PayPal (or other) password(s) would be grayed/dotted out to prevent password from being seen.

[2018-04-06 12:10] #70 closed

[2018-04-06 12:11] #67 closed

[2018-04-06 12:15] Moc commented on #60
Tax / VAT Code: #69

-----------

(in future) Maybe this can be solved by modifying the template. At the moment, additional fields are fixed to be rendered after the main fields. I'll open an issue for it to not forget about it.

What about this? @SimSync

[2018-04-06 12:17] Moc commented on #54
This is not allowed based on several laws and regulations. You'll have to incorporate it into your sales price.

[2018-04-06 12:17] #54 closed

[2018-04-06 12:24] #3 closed

[2018-04-06 12:25] #6 closed

[2018-04-06 12:55] #63 closed

[2018-04-06 14:33] SimSync commented on #60
Yes, the fields are defined as shortcodes which can be placed as you like in the template.

[2018-04-06 14:35] SimSync commented on #60
But the vat and tax code fields are "fixed" fields that will be rendered on billing address page and not on the shipping address page. The shipping address is now optional.

[2018-04-07 13:51] SimSync opened #73 "Bug: Unable to create product on strict mysql server"
Depending on how strict a mysql server handles missing fields in an insert statement, it may happen that no products can be created, because the field item_vars_inventory is not defined while creating a product. It is only available once the product has been saved once.
This is the issue which @kreossino is facing currently ...

[2018-04-08 14:56] SimSync commented on #73
Still not fixed ...
Table structure needs to get updated...

[2018-04-10 06:06] #73 closed

[2018-04-10 20:50] Norwayman commented on #69
In Norway it is 25% and in Mexico it is 16% :)

[2018-04-11 07:27] SimSync commented on #69
You can define the tax for your country individually. Just set the tax value as you need it. The picture above is only an example of how it would look line in germany.

[2018-04-24 12:29] SimSync opened #75 "New feature: Order as guest"
Include an option to allow customers to purchase an item without having to setup a useraccount in e107.

[2018-04-24 12:36] SimSync opened #77 "New feature: list of orders for customer"
Create a page that shows the orders (incl. status) of the current customer.
Optional:
- Create an option for the customer to cancel an order as long as it isn't completed.
- Show tracking code and link to parcel service providers (e.g. FedEx, DHL, etc.) for detailed tracking information.
- Download links for purchased downloadable content.

[2018-04-26 22:01] #61 closed

[2018-04-26 22:01] #75 closed

[2018-04-30 23:49] kreossino opened #79 "sales status changed - bug"
when you change the status (Processed ..Completed ) in sales area the Total is moltiplied and it add two 00, for example the order is 15,00 euros ... you change and update the "sales status" ...the Total now is 1500,00 ...you change another time? the Total now is 150000,00 ..

<img width="1540" alt="bug_update order status" src="https://user-images.githubusercontent.com/11265955/39455424-d622a8c6-

[2018-04-30 23:51] kreossino opened #80 "link to invoice pdf"
the link of invoice is
https://yourwebsite.com/vstore/invoice/8/

but this is correctly registered in e107_media/xxxxxx/plugins/vstore/user_x/xx

[2018-05-01 00:08] #77 closed

[2018-05-01 04:30] SimSync commented on #80
@kreossino I'm not sure if I understand it correctly. Is this a question, a bug or just a statement?

[2018-05-01 04:32] SimSync commented on #79
@kreossino Now I know a bit more where to look. I'll check this.

[2018-05-01 08:59] kreossino commented on #80
the link not open the invoice pdf "it don't rewrite" because the link not open the e107_media area where is the file ....{e107_media}...invoice.pdf

[2018-05-01 09:16] SimSync commented on #79
This seams only to happen when your website is set to italian. Maybe this is a Multilan issue? @CaMer0n

[2018-05-01 10:55] SimSync commented on #80
does the user have rights to create folders/files under the e107_media folder?

[2018-05-01 10:56] SimSync commented on #79
i've updated my fork with a possible fix. could you please test?

[2018-05-01 11:13] SimSync commented on #80
@kreossino Added a admin log message in case a folder couldn't be created (the folder for the invoice).
Please test...

[2018-05-01 14:32] kreossino commented on #79
not resolved when i select "Completed" add two 0 at the Total
could you test directly?

[2018-05-01 14:55] kreossino commented on #80
the system is ok but the files can't writed in the correct directories.
not in
e107_media/0686beafb3/plugins/vstore/user00001/ ..fileinvoice.pdf
 it create a directory "user00001 ... user00002 ecc"
 but memorize the files in root directory not in user directory
e107_media/0686beafb3/plugins/vstore/ ..fileinvoice.pdf

and the link for view the invoice
https://.../vstore/invoice/1/
is not correct be

[2018-05-01 15:26] SimSync commented on #80
The link is correct, but the invoice is not at the right place. It should be in the user000blabla folder.
Is something in the admin log stating that the folder could not be created?

[2018-05-01 15:30] SimSync commented on #79
Yes, I understand. It's as if the . is replaced by nothing.
Did you switch to my fork and update to the latest version? My changes are not included in the official version.

[2018-05-01 17:46] kreossino commented on #79
i dont know how make it

[2018-05-01 17:50] kreossino commented on #80
the directory is created, but the files not copyied in this dir but in root.
i think isn't present the  "/ "  on the name because i see  the file
namedirnamefile.pdf  not namedir/namefile.pdf

[2018-05-01 18:00] SimSync commented on #79
@cameron Is this something you ever experienced? A value, that is readonly, is updated and malformed (30.00 becomes 3000) during save? This value isn't touched in beforeUpdate(). This happens only when Italian (or probably all languages except English) is set in a Multilan environment. With English is everything fine. Haven't tested till now what happens if the system language is set to a none Eng

[2018-05-01 18:58] SimSync commented on #79
Just tested it. It happens too, if i set the system language to dutch ...

[2018-05-01 19:11] SimSync commented on #79
This looks like a bug in e_model->toNumber() ...

[2018-05-01 20:04] kreossino commented on #79
how can we resolve?

[2018-05-01 20:46] SimSync commented on #79
This must be done in the e107 core.
I'll open an issue and see if i find a solution.

[2018-05-01 21:39] SimSync commented on #79
Issue created and also a PR e107inc/e107#3114 with a possible fix.

[2018-05-04 07:08] kreossino commented on #79
I hope it resolves

[2018-05-10 18:10] #79 closed

[2018-05-10 18:10] #80 closed

[2018-07-29 07:16] kreossino commented on #69
the addition of the tax field works but is not recorded in the database

[2018-08-22 21:31] kreossino opened #86 "product-price with variations error"
if i add a product variations i see the product-price correctly, but if i add this to cart i see only the basic price.
it is a bug?

[2018-08-23 07:49] SimSync commented on #86
I can not reproduce your issue. On my system it works exactly as expected.
But it looks like, you are not using the latest github version as there is an additional button "My Dashboard" below the button "Checkout" in the cart popup.
Please update to the latest version and try again.

[2018-08-23 14:14] kreossino commented on #86
i have installed your version, but i cant' see "My dashboard".
and if i use two or three words in "Attributes" doesn't function the diference prices when someone add to cart

[2018-08-24 04:40] kreossino commented on #86
file://localhost/.file/id=6571367.8603947749

[2018-08-27 10:47] SimSync commented on #86
@kreossino Is this issue fixed? If yes, please close it. Thanks 👍

[2018-08-29 22:09] Cybernatus opened #87 "Invalid Token using PayPal REST SandBox"
Ohayo,

I'm currently encountering an issue with PayPal REST Gateway while going back from PayPal's Sandbox to confirm a payment.
The result always ends with the following error => "Token signature verification failed".
I've actually settled up many kind of configurations to segragate this error but it always appears anyway.

This issue is probably related to this fix merged on Omnipay's repositor

[2018-08-30 05:33] kreossino commented on #86
it's not yet resolved because if I write two or three words in one variant it doesn't work

[2018-08-30 05:34] kreossino commented on #86
it's not yet resolved because if I write two or three words in one variant it doesn't work

[2018-08-30 05:38] kreossino commented on #86
it's not yet resolved because if I write two or three words in one variant it doesn't work
for example:
two buttons
three buttons
four buttons
etcc..
I also tried it with - or _ (three_buttons four-buttons etcc..)

[2018-10-21 23:21] burzintaj opened #88 "Database Utilities - SQL Verification"
Table: vstore_cart
Field: cart_lastupdate
Status: Mismatch

Currently
DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP() ON UPDATE CURRENT_TIMESTAMP()
should be
DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP

[2018-10-22 11:04] burzintaj opened #89 "Disappearing currency sign"
The currency sign going to disappear in total price after selecting variation items, is this normal?

[2018-10-22 11:30] realmontazeri opened #90 "Product variation requirement"
It's still possible to add products to the card without selecting a required variation item so this must be a bug.

[2018-10-22 11:38] burzintaj opened #91 "Store update notification"
e107 v2.1.8 is notifying for a Vstore update but the update button is always exist even after pressing.

[2018-12-11 20:45] Jimmi08 commented on #86
I can confirm this. It works only with one word attribute. But tested with php 5.5.

[2018-12-11 20:48] Jimmi08 commented on #69
I don't know if this is only in our country, but from 1.1.2019 this should be easier for small companies in my country.
- you are my country resident, out VAT is applied (always)
- you are EU resident, and you have no VAT, our (slovak) VAT is applied
- you are from EU, but you are company with VAT, it's without VAT and text reverse charge
- you are outside EU, no VAT.

[2018-12-15 20:09] Jimmi08 opened #92 "price without variations is always zero"
I have no variants

[code]

item price is string(5) "55.00"
item_var_price is  NULL
$baseprice is float(55)
$varprice is float(0)

Because this: $varprice >= 0.0  $price is always 0
I had to change it to  $varprice > 0.0

[2018-12-30 15:08] SimSync commented on #91
In e107 v2.2.0 it seams to be fixed

[2018-12-30 15:15] SimSync commented on #90
The "Required" setting is pretty useless. I think it should get removed in the future.
Just make sure the variations are not empty or a single space.

[2018-12-30 15:16] SimSync commented on #89
See PR #93

[2018-12-30 15:16] SimSync commented on #88
This seems to be fixed in e107 v2.2.0

[2018-12-30 15:39] SimSync commented on #87
It looks like that we need to update the omnipay repos to the latest version as it doesn't make much sense to fix the issue in the older version.
We still need to check other dependencies.

[2019-01-24 21:13] #92 closed

[2019-01-30 11:56] SimSync commented on #86
Should be fixed in next PR

[2019-01-30 11:58] SimSync commented on #88
@burzintaj Could you please check if this is still an issue for you? Otherwise please close this issue. Thanks!

[2019-01-30 11:59] SimSync commented on #89
@burzintaj Please check if this issue is gone and close this issue. Otherwise, please give a short info.

[2019-01-30 12:00] SimSync commented on #90
@burzintaj Is there anything that has to be done here?

[2019-01-30 12:02] SimSync commented on #91
@burzintaj Please check if this error is gone and close this issue. Otherwise, please leave a message. Thanks!

[2019-01-30 20:46] #91 closed

[2019-01-30 20:46] #88 closed

[2019-02-20 20:11] oui3kings opened #98 "Error installing / creating vstore_cart table"
Install resulting in no vstore_cart table. Manual creation attempt results in following error

Error
SQL query:

CREATE TABLE e107_vstore_cart(

 `cart_id` INT( 11 ) NOT NULL AUTO_INCREMENT ,
 `cart_session` VARCHAR( 250 ) DEFAULT NULL ,
 `cart_e107_user` VARCHAR( 250 ) DEFAULT NULL ,
 `cart_status` VARCHAR( 250 ) DEFAULT NULL ,
 `cart_item` INT( 11 ) DEFAULT NULL ,
 `cart_item_vars` TEXT,
 `cart_

[2019-02-20 20:38] SimSync commented on #98
What is the MySQL version?

[2019-02-20 21:38] CaMer0n commented on #98
5.5.43-37.2

[2019-02-22 14:55] oui3kings commented on #90
I'd like to suggest the ability to add more than 2 variations to a product

[2019-02-22 17:45] SimSync commented on #90
@oui3kings I can't imagine how it should work to have more than 2 variations. Each variation adds a dimension to the inventory array.
For example:
1 variation (Size: XL, XS) means that the inventory has 1 dimension for the number of products per size (e.g. inventory =

| Size | XL | XS |
| - | -- | -- |
|  | 10 | 15 |

2 variations (Size: XL, XS / Color: Black, White) means the inventory has 2 dim

[2019-02-22 22:10] oui3kings commented on #90
Just wondering because I am currently using the easyshop plugin and some of the items I have have 5 variations. In some of those instances I am using a variation for different shipping options. I could omit one of those and get to 4 variations but there are some items I have that need 4 maybe 5 variations.

[2019-02-23 09:50] SimSync commented on #90
I don't think that that easyshop is maintaining the inventory based on product variation combinations.
But that's what vstore does.

[2019-02-23 16:07] Bepo2902 opened #99 "e107\vstore SQL bug"
![grafik](https://user-images.githubusercontent.com/46347624/53288793-083e7600-3785-11e9-8b09-442e8b6e65f0.png)

another user mentioned that "it appears there’s a bug in the plugin’s _sql.php file. Those two () should not be in there."

[2019-02-23 16:12] SimSync commented on #99
Do you have the last 2 Screenshots as single files? I'm unable to identify the text in that images on your image above.

[2019-02-23 16:19] Moc commented on #99
They are in the vstore Gitter

[2019-02-23 16:24] SimSync commented on #99
Ok, read thru the chat on gitter and could you please also post your database version and if you are using MySQL or Mariadb?

[2019-02-23 17:10] SimSync commented on #98
This version should support the current_timestamp function... Strange.

[2019-02-24 00:28] CaMer0n commented on #99
@SimSync I'm on MariaDB 10.3.10 and I can reproduce the same issue.  Pasting this screenshot below as a (legible) reference.

![image](https://user-images.githubusercontent.com/2825679/53293393-f01c2600-3787-11e9-9b76-9201e7c508b1.png)

[2019-02-24 00:29] CaMer0n commented on #99
I've committed a fix. @SimSync Please let me know if it causes issues with your set up.

[2019-02-24 18:33] SimSync commented on #99
@CaMer0n As expected, MySQL returns the `CREATE TABLE` call without the brackets at the end of `CURRENT_TIMESSTAMP`. Even creating the table with the changed definition doesn't change this behaviour.
I tried also to replace `CURRENT_TIMESTAMP` with `NOW()` (`CURRENT_TIMESTAMP` is a synonym for `NOW()` as stated in the MySQL docs) didn't change anything. The `CREATE TABLE` call returns always `CURR

[2019-02-24 20:22] CaMer0n commented on #99
@SimSync Thanks. How about something inside diffStructurePermissive($expected, $actual) ?
I just added something for the JSON alias in MySQL 5.7+

[2019-02-24 21:19] SimSync commented on #99
@CaMer0n Yes, why not. Will you add it or should i?

[2019-02-26 21:06] SimSync commented on #99
@CaMer0n Have created a PR with a change on `diffStructurePermissive($expected, $actual)`.

[2019-02-26 22:23] #87 closed

[2019-02-27 19:05] SimSync commented on #99
@Bepo2902 Please update e107 and also vstore from git and check if the issue is gone.

[2019-02-28 19:15] oui3kings opened #102 "possible function for vstore"
Just an idea, maybe far fetched. Having a timed userclass function in vstore might be useful and interesting.  The make user/userclass function appears to be there, maybe having a function where it changes a userclass from (x) to restricted etc after (x) amount of time might be useful. If issues isn't the proper place to post, I apologize.

[2019-02-28 20:31] CaMer0n commented on #102
@oui3kings e107 has a NEW USER probation user_class, perhaps that could be useful for you?

[2019-03-01 00:04] oui3kings commented on #102
I do implement the probation. I was thinking more along the line of a class expiration. If a member joins for a term (year, month) after reaching that time threshold a plugin or admin function will lower them to another class or no class.

[2019-03-01 00:05] oui3kings commented on #102
If something like that can be tied into something like easyshop or vstore that would be pretty cool

[2019-03-01 00:09] oui3kings commented on #102
There’s already the option to promote to userclass after purchase in both easyshop and vstore I believe. I guess what my thoughts are would be purchase>promote to userclass + start countdown to removing userclass at set time interval

[2019-03-01 09:10] Bepo2902 commented on #99
Thank you, works like a charme.

[2019-03-01 09:10] #99 closed

[2019-03-01 16:59] SimSync opened #103 "Mollie payment gateway requires testing"
Just added support for the Mollie (https://www.mollie.com) payment gateway.
This gateway still needs testing as it requires a valid business during registration (which i'm unable to provide).

[2019-03-01 17:12] SimSync commented on #103
See PR https://github.com/e107inc/vstore/pull/104/

Would be great is somebody is able to test this implementation as it provides several payment providers incl. SEPA transfers, Klara, etc.

[2019-03-01 18:10] #89 closed

[2019-03-01 18:14] SimSync commented on #38
Coinbase support has been removed, because it isn't supported anymore in the latest version of Omnipay.

[2019-03-01 18:14] #38 closed

[2019-03-01 18:15] #60 closed

[2019-03-03 16:50] SimSync commented on #90
See PR #106

[2019-03-03 19:08] Bepo2902 opened #109 "Page 2 empty in vstore"
I added a couple categories and items into the vstore. On purpose I entered more than 9 items in to get a second page.
When I now press "next" I end up in the folder "Product Brands" and that is empty.

[2019-03-04 10:20] SimSync commented on #109
@Bepo2902 How many items do you have in that category exactly? 9, 10 or more?

[2019-03-04 11:14] SimSync opened #112 "New feature: Featured items"
Add a table field to be able to mark individual items as featured (for example to be used in the vstore menu or a second menu with a carousel effect on it).

[2019-03-04 11:18] SimSync opened #113 "New feature: General discount"
Add new field to be able to add a general discount (e.g. 10% off) on a single item.
The discount should be also displayed in the product list and product view.
Maybe another menu, showing only products with discounts is also possible.

[2019-03-05 16:59] SimSync commented on #109
@Bepo2902 Is this issue still open?

[2019-03-14 11:28] Bepo2902 commented on #109
I added at least 12.
I had no time for uploading the new files yet. I will do so tonight and let you know.

[2019-03-14 18:26] Bepo2902 commented on #109
Same after updating the vstore files (and clearing cache / e107 and Browser)...

![page2](https://user-images.githubusercontent.com/46347624/54381818-9623c780-4686-11e9-9f17-d30c7bf828aa.PNG)

[2019-03-24 11:12] Bepo2902 commented on #109
Strangely enough, the 2nd page worked yesterday, but today it doesn't anymore. I can't imagine what I have changed, except, I added the menu, and the product variations. Weird. Different to the last screenshot is this time that I this time the Category is shown.
![page2new](https://user-images.githubusercontent.com/46347624/54878500-c0634b00-4e25-11e9-84b1-48ca6a783610.PNG)

[2019-03-25 08:58] SimSync opened #116 "New feature: Refunding"
Implement refunding for the payment gateways that support refunding.

[2019-03-25 08:59] SimSync opened #117 "New feature: Refunding"

[2019-03-25 09:00] #117 closed

[2019-03-25 09:02] SimSync opened #118 "New feature: Option to hide "out of stock" items"
Add an option to the preferences to hide "out of stock" items in the shop.

[2019-03-25 09:05] SimSync commented on #103
So far, in test mode everything is working.
Would be great if someone who is using some of Mollie's payment services in production can confirm that.

[2019-03-29 10:58] Bepo2902 commented on #109
Any news/ideas?

[2019-03-29 11:01] SimSync commented on #109
@Bepo2902 Please wait for the Pull Request to be merged. @CaMer0n reviewed my proposal and requested a change. I've already commited a change and i think, Cameron will review it as soon as he has time to do it. Once this is done, i'll post it here.

[2019-04-01 18:34] #109 closed

[2019-04-01 21:17] SimSync commented on #116
See PR: https://github.com/e107inc/vstore/pull/119

[2019-04-02 05:36] SimSync commented on #109
@Bepo2902 The fix is now merged. Please update your installation. If it does not work with overwriting the files, remove the vstore folder from the server and upload the whole plugin. Uninstall and reinstall should be the last option... :wink:

[2019-04-05 11:23] poonamsatani commented on #87
jhbj

[2019-04-07 18:44] SimSync commented on #116
PR #119 is merged now. Any testing is appreciated.

[2019-04-19 07:48] Alex-e107nl commented on #103
Hi SimSync, i want to test it but there's directly a problem, will make a new issue...
Implementating Molie is what i needed to use the Vstore...

[2019-04-19 07:54] Alex-e107nl opened #120 "Tax not working with Dutch language.."
When using the Dutch language the tax cannot be entered, should be with a . but somehow it's changing in a ,

![vstore_vat_nl](https://user-images.githubusercontent.com/11962513/56413786-eba45300-6288-11e9-8b18-ac9527384850.jpg)

![vstore_vat_eng](https://user-images.githubusercontent.com/11962513/56413789-ed6e1680-6288-11e9-8032-3c4e8accc848.jpg)

![vstore_vat_nl_admin](https://user-images.github

[2019-05-30 22:04] MikeyGMT commented on #1
Dumb Qu maybe, how do I get to cart? Added category, product, set pref GBP, payment - bank transfer, added a variant. Not getting to the cart area...

![image](https://user-images.githubusercontent.com/2847651/58667410-d150a100-832d-11e9-8543-03bd1d71af10.png)

Console gives :

Empty string passed to getElementById().

[2019-05-31 07:16] SimSync commented on #1
Looks like your menubar is missing the shop cart icon...
Check your sitelinks and add the following (if missing), otherwise check the settings.

![grafik](https://user-images.githubusercontent.com/7572616/58688440-bcebc300-8384-11e9-8162-629d36d20812.png)

[2019-05-31 14:02] Alex-e107nl commented on #120
Hi maybe it's something small, but when it's not working i cannot test it, has it something to do with the The floatval() function (is used to convert a value to a float) (admin_config_prefs.php line 168)?

Please Help!

[2019-05-31 19:56] MikeyGMT commented on #1
Brilliant thanks @SimSync

@CaMer0n nice to have in the install routine?

[2019-06-01 11:25] Moc commented on #1
It should already be included in the site links upon install, see plugin.xml.

I'll check soon on my installation to see if there's a bug or not.

[2019-06-03 13:45] SimSync commented on #120
@Alex-e107nl Could you please test and verify if my fix really "fixes" ... 😉

[2019-06-03 15:47] Alex-e107nl commented on #120
Hi,
ive tested it and it is possible now to enter taxes in the admin, but the only place it's showing when you buy a produkt is when you enter your details and the first screen after that gives the taxes, not in the mail, end not in the dashboard it is shown. Further, in the front all the decimals should be for example 50,00 instead of 50.00 (when working in another language for instance Dutch..)

[2019-06-05 09:13] SimSync commented on #120
@kreossino started with the translations, but i don't know how far he came. Maybe he can tell something about his progress.

Regarding the taxes... I see the include tax (VAT) on the shopping cart, on the checkout summary page, the dashboard order details page and also on the confirmation email(s)...
See attached images:
Shopping cart:
![grafik](https://user-images.githubusercontent.com/7572616/58

[2019-06-05 10:47] Alex-e107nl commented on #120
Hi Achim, should i install the Vstore plugin completely new then? You see more than i...

[2019-06-05 13:05] SimSync commented on #120
Yes, i think that should help. Usually, you don't have to delete the db tables. But make sure you run the db update after you have reinstalled the store (and make sure to use the latest version from Github as i've added a commit this morning).

[2019-06-07 15:15] Alex-e107nl commented on #120
Oke.... used the githubs of today of e107 and the Vstore plugin and i can tell you that when using the Dutch language in e107 it works now, i get the tax lines everywhere you expect it, so thx!
The only 2 things now left is the € 29.95 where the dot should be a comma (,) in Dutch and the works in the admin side of the plugin but not at the front side and of course the translation.

[2019-06-07 16:10] SimSync commented on #120
Please provide some screenshots.

[2019-06-17 12:03] Jimmi08 opened #126 "report"
I tried to test this plugin.  I set Bank transfer. Product price 0.
This was the result when I tried to do checkout.

![image](https://user-images.githubusercontent.com/5429548/59603011-92319680-9108-11e9-802a-b3105f6fb406.png)

[2019-06-17 13:35] SimSync commented on #126
@Jimmi08 Could you please post a screenshot of the payment gateway settings (bank)?
I did a test here with a product price 0 and bank as payment "gateway" and this worked as expected.

[2019-06-17 13:51] Jimmi08 commented on #126
I didn't fill the account number. It's not mandatory so it didn't occur me.
It worked now. Different error - this is why I am asking for messages if there is plugin dependency.  No warning that I have not plugin pdf installed.

![image](https://user-images.githubusercontent.com/5429548/59608753-54d40580-9116-11e9-9dc8-395f8fe7d20d.png)

By the way, if you remove that basket from the main navigatio

[2019-06-17 14:02] SimSync commented on #126
@Jimmi08 Ths pdf issue is "known". I'll change this to be "off" by default and that someone can enable it in the invoice properties.
I'll will also have a look on the payment gateway options to check the required data during save.

[2019-06-17 14:08] Jimmi08 commented on #126
@SimSync Only discussion.
According to this:  https://github.com/e107inc/e107/issues/3835   if you put pdf plugin as required in plugin.xml, there should be some message.  Problem is that the pdf plugin is not able to download, there is no link with the information where to find it.  Neither in Readme file.

If the value of the order is 0€ (item is free or there is coupon), it still ends with the

[2019-06-17 14:18] Jimmi08 commented on #126
You are in check out page. You click in menu on clear cart. It's cleared, but you are still on check out page and you can continue...

[2019-06-17 14:25] Jimmi08 opened #127 "vat problem"
I have something set wrong way

![image](https://user-images.githubusercontent.com/5429548/59611746-2eb16400-911c-11e9-8372-b0f2f18cefe9.png)

![image](https://user-images.githubusercontent.com/5429548/59611758-36710880-911c-11e9-83f3-0d063d27a7f9.png)

No VAT:

![image](https://user-images.githubusercontent.com/5429548/59611829-59032180-911c-11e9-8f0f-41bbd368b7fd.png)

Check VAT id is the intent

[2019-06-18 07:21] #126 closed

[2019-06-18 08:17] Jimmi08 commented on #127
@SimSync Hi, I am sure that problem is somewhere else, but I found this while trying to find what is wrong.

customer country was "ro"  but key in map countries was "RO"
`$country =  strtoupper($country);`
$maps returned something at least, but still no tax

This fixed it:
[code]

Periods weren't 0 key anymore. Screenshot to see changed lines.

![image](https://user-images.githubusercontent.com/54

[2019-06-18 08:31] Jimmi08 opened #128 "Implements changes in EU VAT from 1.1.2019"
In most countries (definitely in mine) there is the change in EU VAT system with digital goods.

Now you can decide if you want to use MOSS (in meaning VAT according to customer country) or your business country VAT on all goods (until some hight limit).

So this should be a new preference.
Apply VAT according to customer country in the EU or not. If not, then always in EU is business VAT applied

[2019-06-18 08:42] Jimmi08 opened #129 "fail with check VAT number"
If a user inserts not existing number only in numbers (f.e. 9999), VAT number is validated.

The reason is this:
[code]
It thinks it's outside the EU because the country is 99.

There should be a check if this country is from the country list.

Or if the user is outside the EU, this field can't be filled.

The only exception should be for country "EU" because those numbers are not possible to vali

[2019-06-18 09:28] Jimmi08 opened #130 "vstore menu problem with price"
![image](https://user-images.githubusercontent.com/5429548/59670113-a8e4f580-91bb-11e9-91d4-a7cc0a8d6642.png)

Problem is here:
[code]

normal display has this check:
`if (isset($this->var['item_vars']))
`

Dumped values:
[code]

[2019-06-18 09:50] Jimmi08 commented on #130
Adding variants didn't help, so changed title

[2019-06-19 13:11] #127 closed

[2019-06-19 13:12] SimSync commented on #128
@Jimmi08 Yes, that's a good idea to add a new pref for this. I'll check it and implement it next time. Thanks!

[2019-06-19 13:18] SimSync commented on #120
@Alex-e107nl What is the current status of this issue? Is it working now as expected or do you still have issues?

[2019-06-19 13:21] Jimmi08 commented on #127
@SimSync there was else this problem:
[code]
Are you able to confirm or I have something wrong? Thank you for the quick fix.

[2019-06-19 13:29] Jimmi08 opened #132 "breadcrumbs - changes in core from 2.2.2"
@CaMer0n

This plugin needs to be fixed too. Removing breadcrumb from template doesn't solve the problem, there is different content.

![image](https://user-images.githubusercontent.com/5429548/59769638-d5c20700-92a6-11e9-8a67-abfdcbd53352.png)

[2019-06-19 13:34] #129 closed

[2019-06-19 13:37] Alex-e107nl commented on #120
Achim, tax works as it should now, buti cannot use the vstore with dots in stead of comma's i do not understand why it's working in the admin side but not changing in the front..

![vstore-dot](https://user-images.githubusercontent.com/11962513/59770324-22f2a880-92a8-11e9-9a8c-4d0433e095c6.jpg)

Maybe i should open a new thread?

Alex

[2019-06-19 15:11] SimSync commented on #127
@Jimmi08 So business country was Slovak republic and the users country was Romania?

[2019-06-19 15:13] SimSync commented on #120
On admin you are working with comma, but at the front you have a period?
different users with different country settings, maybe?

[2019-06-19 17:08] Jimmi08 commented on #127
Yes, but it had value "ro" (small letter) and that list of EU countries has key "RO"

[2019-06-19 19:33] SimSync commented on #127
@Jimmi08 At least with the last merged PR, this should be fixed.
I tried with business country Slovakia Republic and changed the country of my user to Romania and it returned the tax for Romania (Standard = 19%)...
The lowercase customer country should not be a problem as it is changed to upper case in the relevant methods for the lookups.
If you still have issues, could you provide some screensho

[2019-06-19 19:45] Jimmi08 commented on #127
I will create a new one. I haven't time to check the latest changes yet.

[2019-06-20 09:50] Alex-e107nl commented on #120
Achim, just downloaded the latest git of today.... and you did it!! Fantastic!!

![vstore-dot -2jpg](https://user-images.githubusercontent.com/11962513/59839804-8389f000-9351-11e9-8b0e-517b84d53831.JPG)

I wil start testing with Ideal / Mollie very soon, thx!!

Alex

[2019-06-20 09:50] #120 closed

[2019-06-20 10:04] Moc commented on #102
https://github.com/e107inc/vstore/issues/45

[2019-06-20 17:01] #130 closed

[2019-06-21 09:40] Jimmi08 commented on #118
Just set _out of stock_ product as inactive if this pref is true. Not need to add next condition to query.

[2019-06-21 09:45] Jimmi08 commented on #116
Hm, I don't see point to refund directly from admin area but to set that order was refunded is great. But how to it manually? Yes, I understand message that I need send money manually but how to manually changes status?

![image](https://user-images.githubusercontent.com/5429548/59914050-d038fe00-9419-11e9-86ee-8fc8bb647f8d.png)

[2019-06-21 09:50] Jimmi08 opened #141 "report"
Everything looks correct for now, so no new issues.

I am using vstore for testing new sidebar left layout for bootstrap4 starter theme (it's narrow that standard sidebar right).
I will post changed templates to bootstrap4 repository, but I am not sure if CaMeRon left them there.

CaMeRon theme:
![image](https://user-images.githubusercontent.com/5429548/59914390-94eaff00-941a-11e9-9670-951a0d7a6af

[2019-06-21 09:53] Jimmi08 opened #142 "FR - vstore category menu"
It would be nice to have category menu list (like news categories) with number of products in category.
@SimSync
I could do template, but with your OOP way to create menu content is too much for me.
Thanks
PS. If it is already there, I am blind.

[2019-06-25 13:00] Alex-e107nl opened #145 "Cannot checkout anymore"
When a order is placed, the last button does not work anymore gives a blanc screen, order does appeare in admin.. Nothing changed here only used the github of today (25-6-2019)

The last stage is this screen:
![vstore_nocheckout](https://user-images.githubusercontent.com/11962513/60100344-d6044b80-9759-11e9-90a9-27e28ab2987a.jpg)

Alex

[2019-06-25 20:04] SimSync commented on #145
This is probably related to my last change. I'll check it tomorrow.

[2019-06-26 10:28] #145 closed

[2019-06-26 10:29] SimSync commented on #145
@Alex-e107nl Should be fixed with latest PR. Please verify.

[2019-06-26 11:25] SimSync commented on #142
@Jimmi08 Do you mean the shop categories dropdown menu?
![grafik](https://user-images.githubusercontent.com/7572616/60176191-deba5780-9815-11e9-85bc-f3fc8c16d54f.png)

[2019-06-26 12:41] SimSync commented on #132
@Jimmi08 @CaMer0n Don't know, what's the issue here, or how to fix...

[2019-06-26 12:47] Jimmi08 commented on #132
@SimSync cameron has to add e_breadcrumbs addon to have correct values for magic breadcrumb shortcode (one shortcode for all site). If theme uses it, then plugin shortvode should be removed from plugin template. Only in this case, it's on theme developers. But e_br... Is missing now. I dont know how to do it. Ps. I am on mobile

[2019-06-26 13:04] Alex-e107nl commented on #145
Tested end it works again!
![vstore-succes](https://user-images.githubusercontent.com/11962513/60182013-bb96a480-9823-11e9-9911-b33651ab2bc8.jpg)

Thx Achim!

[2019-06-26 17:50] Jimmi08 commented on #142
Hi, this is good too, but I had on mind classic menu _menu.php you could put in sidebar or other menu area.

[2019-06-26 19:15] CaMer0n commented on #132
@SimSync There's some enhancements/changes in v2.2.2 which implements central handling of breadcrumbs in e107. Just send the breadcrumb array (as used by the form handler) to `e107::breadcrumb($array); ` and it will fix the issue.

[2019-06-26 19:19] CaMer0n commented on #142
I would call the sitelinks class from inside the vstore_category_menu.php file and then loop through with shortcodes/parsing and template.

[2019-06-27 06:58] SimSync commented on #132
@Jimmi08 @CaMer0n Implemented the new breadcrumb method PR #147

[2019-06-27 06:58] #132 closed

[2019-06-28 13:55] Alex-e107nl opened #148 "Clear cart only works when the link is /vstore/"
Just like the title says i cannot clear the cart when i am not on a /vstore/ link, it's a little confusing... :-)

Can someone test it also?

Alex

[2019-06-30 16:45] #148 closed

[2019-06-30 16:46] SimSync commented on #148
@Alex-e107nl Was able to reproduce your issue and just implemented a fix. Please update from Github and test again.

[2019-06-30 17:51] SimSync commented on #142
@Jimmi08 Just added a new menu for the categories. Also added a first template.

[2019-07-01 08:26] Jimmi08 commented on #142
Perfect as always. Thank you.

![image](https://user-images.githubusercontent.com/5429548/60421614-848d0e00-9bea-11e9-9451-b154ef65d6bb.png)

[2019-07-01 08:29] Jimmi08 commented on #141
It works.  Thank you

Just note to know what you did:
https://github.com/e107inc/vstore/commit/ee64a3d51ec5c65766a5121b68da1f36bd03c8e3

[2019-07-01 08:29] #141 closed

[2019-07-01 08:45] Jimmi08 opened #151 "dashboard tabs update for bootstrap4"
This is fix:
- adding class="nav-item" to li tag
- adding class="nav-link"  to a tag

[code]

Problem is this:
$active = ($this->var['area'] == $a ? 'class="active"': '') ;

Active class is now with a tag, not with li.
It's still work

![image](https://user-images.githubusercontent.com/5429548/60422712-d9318880-9bec-11e9-848d-072cbad81210.png)

but with the correct active class position, it looks

[2019-07-01 09:13] SimSync commented on #142
@Jimmi08 Hmm... The selected cat (Test Category N.1) should be "highlighted" because the class "active" should have been added to the `<a>` tag. Here, in Bootstrap 3 this looks ok. So maybe this is an BS4 issue?

[2019-07-01 09:14] SimSync commented on #151
@Jimmi08 I'll have a look into it.

[2019-07-01 09:19] Jimmi08 commented on #142
maybe I did something wrong?
https://github.com/e107inc/bootstrap4/blob/master/templates/vstore/vstore_menu_template.php
Maybe is not "highlighted"  in list group format

[2019-07-01 09:23] Jimmi08 commented on #142
![image](https://user-images.githubusercontent.com/5429548/60425130-2c5a0a00-9bf2-11e9-80f6-a5aa4e39bc6f.png)

it's there
 Fixed, problem was in template
in this case it has to be with li tag.

`<li class="list-group-item {MENU_CAT:active}"><a href="{MENU_CAT:url}" class="vstore-categories-item  ">`

but it doesn't support li active with a tag
![image](https://user-images.githubusercontent.com/542

[2019-07-01 09:41] Jimmi08 commented on #142
@Jimmi08 this is template issue

With card layout you can't use your template (at least in actual bootstrap4 theme)  - with divs  (there is big space around it in card, it's complicated and this is not core plugin)

And with ul/li list there is problem with a tags (in my opinion it's bootstrap bug).
Nevermind, fixed in e107 version

For reference to how this was fixed:
https://github.com/e107inc/b

[2019-07-01 09:41] #142 closed

[2019-07-01 09:49] SimSync commented on #142
@Jimmi08 Didn't i use a div to surround the a tags? I think it was no ul / li ...?!?

[2019-07-01 09:53] Jimmi08 commented on #142
@SimSync yes, but there is different template for bootstrap 4.  In theme folder.  You did everything fine.  It's specific problem for bootstrap4. With your template it looks like this:
![image](https://user-images.githubusercontent.com/5429548/60427317-bad08a80-9bf6-11e9-8d21-771708f8a38c.png)
So this needs to be fixed in theme.
You have templating able menu and it's enough.

[2019-07-01 09:55] Jimmi08 opened #152 "note - fix detail for bootstrap 4 theme"
Just note for me that this is not finished

Actual demo:
https://www.e107sk.com/demo/bootstrap4/vstore/

[2019-07-01 09:58] SimSync commented on #142
From the BS4 docs:
![grafik](https://user-images.githubusercontent.com/7572616/60427509-1d298b00-9bf7-11e9-9a19-ff1c4bac2c3d.png)
For me it looks like, in my template it is only missing the "list-group-item-action" class on the `<a>` tag to make it work in BS4?

[2019-07-01 10:17] Jimmi08 commented on #142
Yes,
but you need to use this in card layout

https://getbootstrap.com/docs/4.0/components/list-group/
or
https://getbootstrap.com/docs/4.0/components/card/#list-groups

[2019-07-01 12:27] SimSync commented on #142
See also this: https://getbootstrap.com/docs/4.0/components/list-group/#links-and-buttons
No need for `<ul><li><a>` or ? Maybe i did understand something completely wrong ...
I'll give it a deeper look once i'm home.

[2019-07-01 13:31] Jimmi08 commented on #142
@SimSync you are right for the solution without cards.  Look at cards.

[2019-07-02 09:32] SimSync commented on #118
Just  commited a new PR that implements this feature.

[2019-07-02 10:04] #151 closed

[2019-07-02 10:06] SimSync commented on #151
@Jimmi08 Just commited a PR which should fix this issue also for BS4. Moved the hardcoded dashboard nav to the dashboard template file, so it can be styled as wanted.

[2019-07-02 10:21] Jimmi08 commented on #151
Do you put this to template? Wow.  Awesome. And perfect.   Thank you.

[2019-07-02 10:41] SimSync commented on #142
@Jimmi08 I've just commited a PR that includes an update to the template.
Unfortunatly, in BS3 i can't use `<ul><li><a>` for this purpose. I had to use `<div><a>`. It looks like, BS4 handles this completely different.
I included also the badge to display the number of products in that category. So it's worth to have a look...  😃

[2019-07-02 10:46] #118 closed

[2019-07-02 10:47] #116 closed

[2019-07-02 10:47] Jimmi08 commented on #142
Oh, bootstrap3 is ok, until admin theme will not be changed (in years, I suppose).
That bt4 template is available and free, so anyone who wants bt4 version can use it.

I will look at this. By the way, I really like your way with shortcodes - one shortcode with parameter what data to return and putting all HTML code to the template.

[2019-07-02 11:39] SimSync commented on #142
Yes, thanks. 😄 I found it much more convenient to lookup just one shortcode, instead of searching the entire shortcode files for a shortcode, that returns some specific data. With my approach, you only have to look for a single shortcode and directly have an overview about what data this shortcode can return. Adding another key is simple and everything is still in one place.

[2019-07-02 17:04] Alex-e107nl commented on #148
Yess it works now!!
Thx

Alex

[2019-07-08 10:56] Jimmi08 opened #156 "fatal error after manual confirmation via admin"
`Fatal error: Uncaught Error: Call to undefined method vstore::emailCustomerOnStatusChange() in C:\xampp\htdocs\xxx\e107_plugins\vstore\inc\admin_config_orders.php:242 Stack trace: #0 C:\xampp\htdocs\xxx\e107_handlers\admin_ui.php(4642): vstore_order_ui->afterUpdate(Array, Array, '1') #1 C:\xampp\htdocs\lugera20180615\e107_handlers\admin_ui.php(5974): e_admin_controller_ui->_manageSubmit('beforeUp

[2019-07-08 10:59] Jimmi08 opened #157 "how to fix click Refund by mistake"
If there is a mistake, how to get Refund back to Complete status?

[2019-07-08 15:53] SimSync commented on #157
Well... If it wasn't a bank transfer, the money was given back to the customer... In that case the customer has to purchase once again.
But I'm not sure if this is already implemented that way. Probably there is currently no way back.

[2019-07-08 15:54] SimSync commented on #156
Looks like there is still a reference to the "old" email method. I'll check it.

[2019-07-13 14:11] Jimmi08 opened #158 "Feature Request - possibility to return only product image path"
Now you can get only product img tag or image as link (a href)

I was able to do this this way:

[code]
It's needed in store templates like this:
[code]

Thanks

[2019-08-18 08:33] martyshep opened #159 "Email cc for order submitted not happening after latest update"
My store is set so it cc's the originating email address so the guys who post out my goods know to send our an item. Now when a sale is made, only the purchaser gets the email, not the CC email address.

[2020-04-18 16:49] tgtje commented on #156
Any update on this error, basically through about 80% or more on LAN conversion, but due to this error ( window>admin/sales) ANY button for orders (process etc..) or Update will trigger it
php 7.3.5.

At present i do stop,as i can not see what happens behind this point Sorry..

[2020-04-18 18:02] Jimmi08 commented on #156
No, thanks

[2020-04-18 18:02] #156 closed

[2020-05-31 11:00] realmontazeri opened #162 "Plugin is not included in the directory"
The amazing vstore plugin is still not included in plugins directory on e107 portal or installation package.

[2020-05-31 11:20] realmontazeri opened #163 "Create invoice option is missing"
It is very useful to have creating invoice option in vstore plugin admin dashboard.

[2020-05-31 11:24] realmontazeri commented on #90
This option doesn't exist in the latest version anymore, It was needed to improve and not to remove.

[2020-05-31 11:33] Moc commented on #162
The plugin is still in development and has not been released yet.

[2020-05-31 11:33] #162 closed

[2020-05-31 13:22] realmontazeri opened #164 "Product renewal option for subscription"
Websites with subscription market like publishing and hosting companies need this type of option for their products.

[2020-06-08 20:00] tgtje commented on #163
Just for info: needs more explanation..Invoice settings has features(prefs) and template?? (with or without pdf)

[2020-06-11 08:23] tgtje commented on #163
Ah yes, agree with Moc: template.. which produces a form.

[2020-07-08 19:45] sm924 opened #165 "vStore doesn't acknowledge Shipping Address when different to Billing Address"
When a separate Shipping Address is entered, it does not show on the Checkout page where the Billing and Shipping shows as one same address.

1. Place an order
2. Click to add a separate shipping address
3. Add shipping details
4. Proceed to checkout. I would expect to see a separate billing and shipping address but I see one address for both.

Please see screenshots.
![1](https://user-images.gith

[2020-07-09 10:09] sm924 commented on #165
Ok. Thanks for moving it.

[2020-12-30 18:39] realmontazeri opened #166 "Cryptocurrency payment solution"
It would be nice to provide bitcoin/ethereum payment gateway with an independent wallet for vstore plugin.

[2020-12-31 17:33] realmontazeri opened #167 "Products picture were disappeared after updating to the latest e107git"
I tried to upload new pictures but It is still the same problem.

[2020-12-31 20:47] CaMer0n commented on #167
@realmontazeri On the frontend or the admin area?

[2020-12-31 21:08] realmontazeri commented on #167
Frontend (pictures in admin area are ok)

[2020-12-31 23:01] CaMer0n commented on #167
Thanks @realmontazeri It should be fixed now.

[2021-01-01 06:18] #167 closed

[2021-01-01 06:28] realmontazeri opened #168 "Site blank page on the latest vstore git version"
Blank page happened on website frontpage and also vstore admin dashboard (e107 backend is ok)

[2021-01-01 10:31] Moc commented on #168
Please always share your PHP version with these type of issues

[2021-01-01 11:07] realmontazeri commented on #168
This issue was happened on the latest e107git version and php v7.4

[2021-01-01 16:43] realmontazeri opened #169 "Payment gateways fatal error"
The following error appears when I click on payment gateways in vstore admin area:

Fatal error: Uncaught Error: Cannot pass parameter 1 by reference in /home/.../plugins/vstore/vstore.class.php:485 Stack trace: #0 /home/.../plugins/vstore/inc/admin_config_gateways.php(82): vstore::getMolliePaymentMethodIcon('mollie_banconta...', '2x') #1 /home/.../handlers/admin_ui.php(1474): vstore_gateways_ui->

[2021-01-01 16:44] realmontazeri commented on #169
This issue was happened in the latest e107git version with php v7.4

[2021-01-01 16:55] 2548ir opened #170 "Vstore statistics miscalculation"
Both orders are cancelled but they are still appear as open orders, also there are no any records to show after I click on open orders.
![Screenshot](https://user-images.githubusercontent.com/10089685/103442877-186fe800-4c6f-11eb-9c21-7da38a1484be.png)

[2021-01-01 19:12] realmontazeri commented on #169
@CaMer0n I appreciate for any solutions related to this because I really don't want to migrate to another shopping cart system.

[2021-01-01 21:29] Moc commented on #169
Please be a little more patient. This issue will be looked into asap.

[2021-01-02 16:01] Moc commented on #169
Fixed in https://github.com/e107inc/vstore/commit/4ce3162163f2ffe5dddcf323398e72115b16f9c7

[2021-01-02 16:01] #169 closed

[2021-01-02 16:03] Moc commented on #168
@CaMer0n Pretty sure this is caused by the vendor folders update. What I did to fix it:
- Delete composer.lock file
- Delete vendor folder
- Run 'composer install'

The error for me was:
[code]

[2021-01-04 16:06] realmontazeri commented on #168
The issue no longer exists after I updated my website to the latest vstore git version today.

[2021-01-04 17:34] #168 closed

[2021-01-10 16:30] realmontazeri opened #171 "Cart navigation link drop down window was disappeared"
Today after updating to the latest e107git version I found out that the cart navigation link drop down window was disappeared:
![Screenshot](https://user-images.githubusercontent.com/10089685/104128702-61feb800-537e-11eb-8bf0-726f1549ba79.png)

[2021-01-13 11:34] realmontazeri opened #172 "Sales bulk options field is missing"
Latest vstore plugin and e107git version with php v7.4
![Screenshot](https://user-images.githubusercontent.com/10089685/104447108-948ff700-55b0-11eb-866f-3305bc6b4775.png)

[2021-01-13 13:39] parsfounder opened #173 "Other popular payment methods"
Skrill and Stripe are one of the most popular digital wallets in the market and not included in vstore plugin yet.

[2021-01-13 13:50] realmontazeri opened #174 "Graph or chart feature"
It is very useful to have this option in administration dashboard.

[2021-01-15 00:02] realmontazeri commented on #173
This decentralized API looks nice! https://github.com/bitcoinz-wallets
No signup is required and multi-currency support

[2021-01-15 00:05] realmontazeri commented on #166
This decentralized API looks nice! https://github.com/bitcoinz-wallets
No signup is required and multi-currency support

[2021-01-15 00:16] realmontazeri commented on #173
Authorize.Net and 2Checkout are another examples

[2021-01-15 14:16] realmontazeri commented on #171
Also the following error was appeared on checking out after adding some products to cart:
![Screenshot](https://user-images.githubusercontent.com/10089685/104737441-7d403d80-5759-11eb-8c87-342a7b521299.png)

[2021-01-17 12:10] realmontazeri commented on #171
Fresh installation results:
![screenshot1](https://user-images.githubusercontent.com/10089685/104840061-50676400-58da-11eb-8023-bcecf8709639.png)
![screenshot2](https://user-images.githubusercontent.com/10089685/104840064-52c9be00-58da-11eb-8f76-32553e35df7c.png)

[2021-01-18 04:40] CaMer0n commented on #171
This is a core issue with navigation, as the plugin has barely had any modifications recently.

Please sync with the github version.

## My Local Tests:

![image](https://user-images.githubusercontent.com/2825679/104872899-fa0f1b00-5903-11eb-84f5-f2166c87f185.png)

![image](https://user-images.githubusercontent.com/2825679/104872950-2034bb00-5904-11eb-8836-8af834eb4718.png)

I have also added unit

[2021-01-18 09:08] realmontazeri commented on #171
Thank You @CaMer0n

[2021-01-18 09:08] #171 closed

[2021-01-19 23:16] CaMer0n commented on #173
@realmontazeri Would you be willing to test Skrill and Stripe if I can get this added?

[2021-01-19 23:20] CaMer0n commented on #166
@realmontazeri Here are the payment gateways that vstore could easily support. (since it is using the omnipay package)

https://omnipay.thephpleague.com/gateways/community/

[2021-01-20 01:20] realmontazeri commented on #166
But there are only Paypal, Mollie and bank transfer options, where can I find omnipay?
![Screenshot](https://user-images.githubusercontent.com/10089685/105113735-be7a7980-5ada-11eb-9edf-b1cc055d0e84.png)

[2021-01-20 20:59] CaMer0n commented on #173
@realmontazeri Omnipay isn't a payment gateway, it is a code library.  I have to add code to add the support.

[2021-01-20 21:02] CaMer0n commented on #166
It's a library, not a payment gateway. You find the files here: ```e107_plugins/vstore/vendor/omnipay```

[2021-01-27 03:20] #166 closed

[2021-01-27 03:24] #90 closed

[2021-01-27 03:45] realmontazeri commented on #164
I am gonna close this issue because it was requested here #45 before.

[2021-01-27 03:45] #164 closed

[2021-01-28 01:20] CaMer0n commented on #172
@realmontazeri Thank you! Fix coming up.

[2021-01-28 01:22] #172 closed

[2021-01-28 17:41] CaMer0n commented on #174
There is already a chart, but I have added 2 others and cleaned it up a bit.

![screenshot-localhost-2021 01 28-09_30_46](https://user-images.githubusercontent.com/2825679/106176679-78fa2400-614c-11eb-9858-f0d7a15d7a97.png)

[2021-01-28 19:58] #163 closed

[2021-01-28 20:04] realmontazeri commented on #174
@CaMer0n Thank you, the new interface looks amazing!

[2021-01-28 20:04] #174 closed

[2021-01-30 18:57] realmontazeri commented on #173
Several payment gateways were added recently, special thanks to @CaMer0n for his amazing job!

[2021-01-31 03:51] CaMer0n commented on #173
Thanks @realmontazeri. And for reference, here they all are:

![image](https://user-images.githubusercontent.com/2825679/106374087-8f62d400-6334-11eb-8a9f-bdfa4170dcd9.png)

[2021-02-07 09:39] Jimmi08 opened #175 "FR add search form"
Could you add example for search form with e107 ajax used for frontend?  Some search menu...  for category, keyword.

When you select parent category, child categories are loaded by ajax?

I know that there is e_search addon, but when you need custom search form, it is not enough.

Thanks

[2021-02-08 14:32] tgtje commented on #165
Just informative, it will show up (going through things) so it only happens when i change 'my' customer credentials AFTER i went into the customer panel and changed the shipping address to be different (so bill =1 and send to= 2). eg. i have to be already be a signed in customer, which has a point too, how else would you know iff you (as seller) it to be truthfull ( in reclaims, not received etc..

[2021-02-09 13:19] CaMer0n commented on #159
@martyshep I believe this is fixed in the current version. (which requires the latest e107 git btw)

[2021-02-14 11:18] tgtje opened #176 "Email templates expandit"
Button Field Options ( expanding to display options to be used) only works on TAB 1.
No go on TAB 2,3 and 4 ( is it supposed to do so, or issue?)

[2021-02-24 19:56] realmontazeri commented on #159
@CaMer0n I enabled (CC to yourself) option in Vstore >> Email Templates and didn't receive any email.

[2021-02-24 19:57] CaMer0n commented on #159
Thank you for the update. I will check on that.

[2021-02-26 13:24] tgtje commented on #165
Update : tested a lot for php 8 : This is now present

[2021-02-26 19:52] realmontazeri opened #177 "Letter is not acceptable for product code"
It was ok before but currently only digits are acceptable and I don't know if those duplicated astrix are related or not.

![Screenshot](https://user-images.githubusercontent.com/10089685/109348184-709b2300-7889-11eb-8852-b8778d8406ab.png)

[2021-02-26 19:56] realmontazeri commented on #170
@CaMer0n This issue is back again

[2021-02-26 19:59] CaMer0n commented on #170
Thanks @realmontazeri . Are they cancelled orders or something else?

[2021-02-26 19:59] CaMer0n commented on #177
What if you use UPPERCASE?

[2021-02-26 20:01] realmontazeri commented on #170
Complete, Incomplete, Refunded (It shows 2 open orders)

[2021-02-26 20:05] realmontazeri commented on #177
Uppercase does work except for lowercase and signs like dash

[2021-02-26 20:08] CaMer0n commented on #170
okay, thank you.

[2021-02-26 20:14] realmontazeri commented on #170
You're welcome! btw, when I click on open orders then it goes to sales page with no records but if I click on sales directly from the main menu then It goes to sales page with those available records.

[2021-02-27 11:18] tgtje commented on #156
Issue is resolved as of 26-02-2021

[2021-03-02 17:00] #177 closed

[2021-03-02 17:22] CaMer0n commented on #165
@tgtje Thank you. I'll close the issue for now.

[2021-03-02 17:22] #165 closed

[2021-03-03 13:04] tgtje opened #178 "Cancel order"
Description : re-tested system > problem found.

After placing an order and i would (using customer panel) want to revolke (cancel) my order getting the following error :

`Fatal error: Uncaught Error: Call to undefined method vstore::emailCustomerOnStatusChange() in R:\Xamp801\htdocs\vstore\e107_plugins\vstore\vstore.class.php:742 Stack trace: #0 R:\Xamp801\htdocs\vstore\e107_plugins\vstore\vstor

[2021-03-03 20:21] CaMer0n commented on #178
@tgtje Thanks. Yes, it's the same kind of error. (calling the method from the wrong class) .

[2021-03-03 20:27] #178 closed

[2021-03-03 20:31] CaMer0n commented on #178
@tgtje Please try again. Thank you.

[2021-03-04 10:10] tgtje commented on #157
I think this could be handled this way : see image.
![catt](https://user-images.githubusercontent.com/1811857/109947953-2925f400-7cda-11eb-8a40-874f4255b7a3.jpg)

[2021-03-04 13:15] tgtje commented on #178
@CaMer0n Thank you , now working. (although customer now shows cancelled, no mail is send;  but admin has it displayed cancelled also;  helas iff i have to inform customer i need to process and cancel als admin, to send email.

[2021-03-05 16:07] tgtje opened #182 "FA BANK"
Just to be sure, does the fa-bank glyph (inc/adm.conf.gatew. ) and  or icon fa-bank (vstore.class) be renamed and which or both ?
Internal the image is present, but not  on front eg is >  fa fa-bank preferable? depending on the used fontawesome build in running system versions?

[2021-03-05 16:21] tgtje commented on #159
**Just info** in regards to CC >
`
		$eml = array(
			'subject'      => $tp->lanVars($subject, varset($this->data['order_ref'])),
			'sender_email' => $sender_email,
			'sender_name'  => $sender_name,
			'html'         => true,
			'template'     => 'default',
			'body'         => $tp->parseTemplate($template, true, $this->sc)
		);`

		Might there be a conflict between HTML while e107 uses Text+Htm

[2021-03-05 20:35] CaMer0n commented on #159
@tgtje @martyshep @realmontazeri  I believe this commit should fix it. Please test again if you don't mind.

[2021-03-05 21:23] tgtje commented on #159
Yes thank you @CaMer0n 👍   While i was running live mode with language (used this to test) run only on English, replacing those 3 files in question (ok some LAN's not present, but runs). Email setting all on ON.  I placed an order and voila
Buy > received mail as client and also as admin.
Order completed > mail as client and as admin (trigger=update (ok) )
Refund > mail as client and as admin (tri

[2021-03-05 22:44] CaMer0n commented on #159
Thank you @tgtje !! I left some more comments for the LANs. (sorry, more work)

When you test your purchases, are you using a paypal sandbox, or something else?

[2021-03-06 11:00] tgtje commented on #159
I (since i do have no real gateway accounts (after your message i looked at paypal (sandbox) i might get a developer account..Have to read in.

On question : from the start i always used Bank transfer (that is way i kept away trying to change too much what might interfer with the gateway communication).

[2021-03-06 17:01] CaMer0n commented on #182
fa-bank should work with FontAwesome4 and FontAwesome5 since it is passed thru toGlyph() or toIcon().   So, there's nothing to rename there as far as I know.

[2021-03-06 17:41] tgtje commented on #182
Can't find a real 'glitch' that is does not work, In an earlier version it did. (maybe related to somethingin the lang tests?)
 Of course i can replace the icon, that works anyway. Thank you.

[2021-03-09 18:26] CaMer0n commented on #182
@tgtje Which theme are you using?

[2021-03-23 14:50] tgtje commented on #182
Info/reminder : been testing the newer pieces, the fa bank is not displayed in Voux, it does work in BS3.
If it concerns.. BS3 overall has nicer view on front than Voux (probably the styling/css), especially the cart (select) window (pop out) eg. placeholder for cust panel, checkout, empty (large and black bg for checkout..(ehh ugly)).

[2021-03-25 20:59] tgtje opened #183 "Delimiter"
While testing for errors:
a)
Warning preg_match(): No ending delimiter '^' found, Line 424 of R:\Xampp-8.0.3\htdocs\newest\e107_plugins\vstore\vstore.class.php.

solved with : `		if(preg_match('^[0-9.]+x$/', $size))`  added the / correct?

b) using PDF > ON to use
checkout page ( the one supposes to display for me as customer that order is created and email send.. eg bill form

Fatal error: Array

[2021-03-26 16:00] tgtje opened #184 "Guest sale"
Bug, error, or needs adjusting idea ?

functionabilty :
can not find how to :
When customer is Guest (no membership) and would be allowed to order.

Using checkout php 8.0.3 throws error on USERNAME  (coded on line 498 inc/vstore_order_class
A guest has **no**  username> as undefined constant USERNAME and as such log is not filled > no issues when logged in.
Maybe something when guest displaying F

[2021-03-26 16:18] CaMer0n commented on #183
@tgtje Thank you. That regex does need a fix.
I'm not a big supporter of the pdf plugin. (or this feature)

[2021-03-29 18:53] CaMer0n commented on #184
@tgtje Thank you! If you don't mind, please test again with the changes.

[2021-03-29 19:13] tgtje commented on #184
Same installment (nothing changed besides pdf).
Helas..
Fatal error: Uncaught Error: varset(): Argument #1 ($val) cannot be passed by reference in R:\Xampp-8.0.3\htdocs\newest\e107_plugins\vstore\inc\vstore_order.class.php:497 Stack trace: #0 R:\Xampp-8.0.3\htdocs\newest\e107_plugins\vstore\inc\vstore_order.class.php(580): vstore_order->setOrderLog('Invoice-Nr. ass...') #1 R:\Xampp-8.0.3\htdocs\ne

[2021-03-29 19:19] tgtje commented on #184
Nothing chnaged besides pdf plugin.
Same installment : Helas

Fatal error: Uncaught Error: varset(): Argument #1 ($val) cannot be passed by reference in R:\Xampp-8.0.3\htdocs\newest\e107_plugins\vstore\inc\vstore_order.class.php:497 Stack trace: #0 R:\Xampp-8.0.3\htdocs\newest\e107_plugins\vstore\inc\vstore_order.class.php(580): vstore_order->setOrderLog('Invoice-Nr. ass...') #1 R:\Xampp-8.0.3\htd

[2021-03-29 19:41] CaMer0n commented on #184
@tgtje Sorry, this commit "should" work. Please try again.

[2021-03-30 10:05] tgtje commented on #184
Thank you, success.

tested twice : when with varset error arises.
The new commit with defset works
(note : only tested on Bank Transfer as no other payment channels are set).
Here's an example of the logs :

![logs](https://user-images.githubusercontent.com/1811857/112972049-20490680-9150-11eb-92ce-fcaae4e8ace4.jpg)

[2021-03-30 10:05] #184 closed

[2021-03-30 10:10] tgtje commented on #183
Changed the title to delimiter only as pdf had an update to a working solution (afaics).

[2021-03-30 16:42] CaMer0n commented on #184
@tgtje Great! Thank you!

[2021-04-07 01:59] CaMer0n commented on #183
@tgtje Thanks Leo. This last commit should fix it.

[2021-04-07 08:45] tgtje commented on #182
Just as comment : maybe the issue kies here too git issue : https://github.com/e107inc/e107/issues/4471 .(+commit)
I do need to test it though.

[2021-04-10 10:51] tgtje commented on #182
Before install of latest Gitversion : Theme Voux
![before](https://user-images.githubusercontent.com/1811857/114267344-37fb7700-99fb-11eb-8ebc-af9cc67de3cf.jpg)
After update IWTH latest Gitversion (incl. commit) Theme Voux.

![after](https://user-images.githubusercontent.com/1811857/114267369-6c6f3300-99fb-11eb-833b-188e7457b9a5.jpg)

Concluding : commit solves issue.

[2021-04-10 10:51] #182 closed

[2021-04-12 22:02] CaMer0n commented on #182
Great! Thank you @tgtje !

[2021-04-13 16:36] tgtje commented on #183
Tested local and live (8.0.3 vs live 7.4.10) does not report any errors and all seems to work.
Close?

[2021-04-13 17:31] #183 closed

[2021-08-29 16:12] 2548ir opened #185 "Re-odering products is not working"
Automatically fall back to default orders (admin dashboard), this issue is happening with git version and php v7.4

[2021-08-29 16:22] parsfounder opened #186 "Products order field is missing"
Without having this feature it is not possible to re-order products between pages.

[2021-08-30 17:10] 2548ir commented on #170
This issue has been fixed with the latest changes.

[2021-08-30 17:10] #170 closed

[2021-09-03 01:42] 2548ir opened #187 "Custom currencies"
Only US dollars, Canadian Dollars, Euro, GB Pounds and Bitcoin are currently available in vstore, how to add other currencies?

[2021-09-05 01:59] 2548ir opened #188 "Glyphicons (Error 403 - Access forbidden)"
Using glyphicons in product detailed description (advanced tab) causes Error 403 - Access forbidden.

[2021-09-17 07:39] 2548ir opened #189 "Vstore is not listed in language-packs"
The mentioned plugin is missing in Settings > Language > Language-Packs

[2021-09-17 09:15] Moc commented on #189
This plugin is not released yet. In addition, it is not part of the core package and thus will have its own language files like any other non-core plugin.

[2021-09-17 09:15] #189 closed

[2021-12-06 15:40] tgtje opened #190 "adding to cart broken"
As a copy from https://www.e107help.org/5403/vstore-problems-product-not-added-the-cart-tax-value-not-saved?show=5404#a5404.
It seems that (guessing here) in the last 2 months prior to release of V 2.3.1 (in months > between august? - present) something brakes when trying to buy an item (internal seems ok).

EDIT :
After investigation numerous installs it happens when https://github.com/e107inc/e1

[2021-12-08 21:47] CaMer0n commented on #190
Thank you @tgtje Did the composer updates I made yesterday help at all?

[2021-12-09 11:10] tgtje commented on #190
Well took me a while to investigate. Steps i took (all local)
On the version (error based =2.3.1 date ????  ) reinstall and also overwrite crashes the system.
What to do? I create a new install with the latest git 2.3.2.
Uploaded the new vstore / installed / added : result OK.
Next investigate > maybe something else happening somehwere ??
Created a new install with an older version ( 2.3.1 based o

[2021-12-09 11:13] tgtje commented on #190
Well took me a while to investigate. Steps i took (all local)
On the version (error based =2.3.1 date ????  ) reinstall and also overwrite crashes the system.
What to do? I create a new install with the latest git 2.3.2.
Uploaded the new vstore / installed / added : result OK.

Next investigate > maybe something else happening somewhere ??
Created a new install with an older version ( 2.3.1 based

[2021-12-09 11:25] tgtje commented on #190
instead of edit : _thought_: maybe also related to BS5 ..after that date more was done to it, and added to core.

[2022-01-26 09:42] 2548ir commented on #185
@CaMer0n After upgrading to e107v2.3.1 the issue still exists.

[2022-02-04 20:50] 2548ir commented on #185
I close this issue because the problem was belongs to an outdated plugin not vstore.

[2022-02-04 20:50] #185 closed

[2022-02-04 20:56] 2548ir commented on #173
@CaMer0n I am currently using Stripe and Coinpayments which they are working properly.

[2022-03-02 18:29] CaMer0n commented on #173
@parsfounder Thank you for the feedback! :+1:

[2022-05-06 21:30] parsfounder commented on #173
stripe: Fatal error: Uncaught Omnipay\Common\Exception\InvalidRequestException: The source parameter is required in /home/.../plugins/vstore/vendor/omnipay/common/src/Common/ParametersTrait.php:81 Stack trace: #0 /home/.../plugins/vstore/vendor/omnipay/stripe/src/Message/AuthorizeRequest.php(315): Omnipay\Common\Message\AbstractRequest->validate('source') #1 /home/.../plugins/vstore/vendor/omnipay

[2022-05-09 22:35] parsfounder commented on #173
@CaMer0n this happened after updating e107 and vstore to the latest version, the issue actually appears on the page right after confirming address and basket info

[2022-05-23 12:02] tgtje opened #192 "fresh install (coupon)"
Noticed on previous installments..now fresh
Using **Coupon code** eg make a new one.
Version 2.3.3 git, xampp local php 8.1.6 fresh out of the box (for testing) as 8.0.5 already had same issue.
(new xampp, new e107; latest vstore, NO translation in use > all original)

Fatal error: Uncaught TypeError: implode(): Argument #1 ($pieces) must be of type array, string given in localpath…..\e107\e107_pl

[2022-11-07 19:54] tgtje commented on #192
Update : again a long time passed, starting again/follow up, same bug appears but is seems most likely a result of php 8
Needed functioning: min php 7 install v 2.3.2 (relationship new lan method) 8 will be crippled . Further changes on hold.

[2022-11-15 09:29] tgtje commented on #192
Fix itself has result, but still investigating why coupon (operational in admin) will not display on everything related to ordering.
Dbase has tables, short : not displaying (like theres no 'table/div etc..)  neither BS5 nor BS3 (core themes).

[2022-11-16 17:23] tgtje opened #197 "Price wrong"
vstore_template.php  line 94  >>  MENU display

`<p class="lead">{ITEM_PRICE}</p>`

ITEM_PRICE  will reflect : currency (ok) but price = 0  eg € 0,00
...  will not take the 'sell' price.

[2022-11-20 21:32] tgtje commented on #192
@Moc  although issue for coupon code, it is of a different nature. (if a relation ship consists i can not tell).
I 'found' a solution for this (latest) one, and created a commit.

The first post was solved using the provided fix.

[2022-11-21 15:24] tgtje opened #198 "Price issue on dropdown"
Drop down panel (cart)

When change amount of items to buy ( ex 1 item > 3 items..), the top bar number increments to correct amount, assuming item count.
However the price next to item itself increments in number but _amount totals_.

would better >  reflect amount  (ex..  3 x PER item  >  3 x €50) since SUBtotal (listed below)  already calculates the total item amount price..
(can not find what

[2022-11-24 11:10] tgtje commented on #192
created commit

[2022-11-24 23:28] #197 closed

[2022-11-24 23:30] CaMer0n commented on #192
@tgtje So your commit fixes this issue as well, correct?

[2022-11-25 07:21] tgtje commented on #192
@CaMer0n your first commit fixed, the not being able to add a coupon (admin).
the 2 commits from me did change 1) the  display on front for the coupon 'line' (=image), be deleting a ending 'cart' (looked like a typo/leftover?? ) > vstore shortcode.
2) Since vstore also has a menu called by ITEM_PRICE it would display a zero price (€ or $ 0,00) where a item price should be.
Changing ITEM_PRICE to C

[2022-11-25 07:23] #192 closed